<section  class="c-section"  >
    <div class="c-section__content  g--padding-vertical-11 " >
        <img class="c-image c-image--top" src="../img/site/info/empresa.jpg" alt="privacidad"/>
    </div>
</section>

<section  class="c-section"  >
    <div class="c-section__content c-section__content--size-alt " >

        <h1 class="c-title  c-title--left g--margin-bottom-7">
            <span class="c-title__pre">Comprometidos con la</span>
            Empresa
        </h1>
        <p class="c-text c-text--justify  g--padding-bottom-10">
            empleaFP es la bolsa de empleo referente de la Formación Profesional. 
            Aquí encontrarás los candidatos con la formación adecuada a tus necesidades. 
            Hemos creado empleaFP para ayudar a acercar la formación profesional a tu empresa.
        </p>
        
        <p class="c-title c-title--size-alt  c-title--left g--margin-bottom-7">¿Que ventajas tiene empleaFP para mi empresa?</p>
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>Mejora tu empresa con candidatos cuya formación es la que necesitas.</p>
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>Simplifica tu trabajo, empleaFP se ha diseñado con la sencillez como objetivo.</p>

 
        <p class="c-title c-title--size-alt  c-title--left g--margin-top-10 g--margin-bottom-7">¿Como funciona empleaFP?</p>
        <p class="c-text c-text--justify ">empleaFP es muy sencillo de usar. Únicamente son necesarios dos pasos:</p>
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>Date de alta en empleaFP.</p>
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>Rellena los datos de la oferta y presta especial atención al ciclo formativo que deban tener los profesionales que buscas.</p>
        <p class="c-text c-text--justify ">Ya no es necesario hacer nada mas. Te llegarán por correo curriculums con la titulación que indicaste en la oferta .</p>
        <p class="c-text c-text--justify ">Por supuesto hay alguna funcionalidad más pero un objetivo de empleaFP ha sido simplificar el trabajo de tu departamento de recursos humanos.</p>
        
        
        <p class="c-title c-title--size-alt  c-title--left g--margin-top-10 g--margin-bottom-7">¿Hay que pagar por usar empleaFP?</p>  
        <p class="c-text c-text--justify ">empleaFP es un proyecto de la asociación <a class="c-button c-button--alt-tertiary" href="https://fpempresa.net/">FPEmpresa</a> cuyo objetivo es mejorar la formación profesional, por lo que no tiene ningún coste para las empresas.</p>
        
    </div>
</section>

<section  class="c-section"  >
    <div class="c-section__content c-section__content--size-alt  g--padding-vertical-11 " >
        <iframe class="c-youtube"  src="https://www.youtube-nocookie.com/embed/w-ghOqT9LNk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>



<section  class="c-section"  >
    <div class="c-section__content c-section__content--size-alt  g--padding-vertical-11 " >

        <blockquote class="c-blockquote g--center" >
            <h1 class="c-blockquote__text">empleaFP ha simplificado nuestra búsqueda de personal</h1>
            <p class="c-blockquote__name">Juan nadie, Empresa</p>
            <img class="c-blockquote__image" src="../img/personas/empresa.jpeg" alt="luis"/>
        </blockquote>

    </div>
</section>

