<section  class="c-section"  >
    <div class="c-section__content  g--padding-vertical-11 " >
        <img class="c-image c-image--top" src="../img/site/info/privacidad.jpg" alt="privacidad"/>
    </div>
</section>

<section  class="c-section"  >
    <div class="c-section__content c-section__content--size-alt " >

        <h1 class="c-title  c-title--left g--margin-bottom-7">
            <span class="c-title__pre">Nuestro objetivo</span>
            Cuidar de tu privacidad
        </h1>
        <p class="c-text c-text--justify  g--padding-bottom-7">Sabemos que leerse todos los documentos sobre privacidad no es divertido así que te vamos a explicar de una forma sencilla qué hacemos con tus datos.</p>

        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>Para empezar habrás notado que no está el molesto cartel de las cookies. Y no está simplemente porque no usamos cookies para rastrearte. Pensamos que era mejor para ti quitar las cookies antes que poder saber cuantas visitas tenemos al día.</p>
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>No te vamos a enviar ningún correo con publicidad, somos una asociación cuyo fin es mejorar la educación, no venderte productos.</p>
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>¿Quien podrá ver tu curriculum? Únicamente las empresas que tu decidas.</p>
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>¿Que hay de la frase 	&ldquo;Cuando un producto es gratis, el producto eres tú&rdquo;? Mantener el portal de empleaFP tiene un coste pero empresas y nuestros centros asociados cubren con los gastos.</p>

        <p class="c-text c-text--justify  g--padding-top-7">Aun así, al pie de la página, están los documentos legales que explican lo que te acabamos de contar.</p>


    </div>
</section>
<section  class="c-section"  >
    <div class="c-section__content c-section__content--size-alt  g--padding-vertical-11 " >

        <blockquote class="c-blockquote g--center" >
            <h1 class="c-blockquote__text">La privacidad de nuestros usuarios fue una prioridad desde el inicio del proyecto</h1>
            <p class="c-blockquote__name">José Luis Durán, Vicepresidente de FPEmpresa</p>
            <img class="c-blockquote__image" src="../img/personas/privacidad.jpeg" alt="luis"/>
        </blockquote>

    </div>
</section>