<section  class="c-section"  >
    <div class="c-section__content  g--padding-vertical-11 " >
        <img class="c-image c-image--top" src="../img/site/info/proyecto.jpg" alt="privacidad"/>
    </div>
</section>

<section  class="c-section"  >
    <div class="c-section__content c-section__content--size-alt " >

        <h1 class="c-title  c-title--left g--margin-bottom-7">
            <span class="c-title__pre">Nuestro </span>
            Proyecto
        </h1>
        <p class="c-text c-text--justify  g--margin-bottom-7">
            Actualmente la Formación Profesional tiene un gran peso en nuestra economía pero desgraciadamente aun no posee ni el reconocimiento social ni la importancia económica que se necesita.
        </p>    
        <p class="c-text c-text--justify  g--margin-bottom-7">
            Cada año  salen al mercado laboral nuevos titulados de FP altamente cualificados en las mas diversas profesiones, 
            consiguiendo cada vez mas acercar la formación recibida en los centros educativos con las necesidades de la empresa. 
            Sin embargo aun hay mucho camino por recorrer tal y como recoge  el <a class="c-button c-button--tertiary" href="http://todofp.es/dam/jcr:163978c0-a214-471e-868d-82862b5a3aa3/plan-estrategico--enero-2020.pdf">I Plan Estratégico de Formación Profesional de Enero de 2020</a>.
            En dicho plan se establecen diversos ámbitos estratégicos y objetivos, destacando los dos siguientes:
        </p>            
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>Promover la implicación, colaboración y confianza de todos los sectores implicados para lograr una FP creadora de valor.</p>
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>Desarrollo de un sistema integrado de orientación profesional.</p>



        <p class="c-text c-text--justify  g--padding-vertical-7">
            Desde la asociación <a href="https://fpempresa.net/">FPEmpresa</a> hemos creado empleaFP para colaborar en seguir las estrategías y conseguir los objetivos definidos por el ministerio.   
        </p>

        <p class="c-text c-text--justify  g--padding-bottom-7">
            Como parte la creación de esta bolsa de empleo , consiguimos la colaboración entre los centros , empresas así como crear valor a la FP. 
            Un hito importante de empleaFP es valorar la formación recibida por nuestros titulados de FP. 
            Por ello las ofertas de trabajo publicadas en empleaFP van destinada a titulaciones concretas de FP y únicamente pueden optar a ellas quien posea la titulación requerida.
        </p> 
        
        <p class="c-text c-text--justify  g--padding-bottom-7">
            Dentro del desarrollo de un sistema integrado de orientación profesional es necesario disponer de estadísticas, estudios, encuestas , etc. que ayuden a tener datos con el que programar una orientación de calidad. 
            Desde empleaFP recopilamos la información que disponemos para generar esa información de calidad.
        </p> 
             
        
        <p class="c-text c-text--justify  g--padding-bottom-7">
            Para acabar, indicar que otro de los objetivos que nos hemos marcado en empleaFP es conseguir ser el portal de empleo de referencia de la Formacion Profesional. 
            Un lugar donde la empresa pueda encontrar los profesionales con la titulación adecuada a sus necesidades.
        </p> 
        
    </div>
</section>
<section  class="c-section"  >
    <div class="c-section__content c-section__content--size-alt  g--padding-vertical-11 " >

        <blockquote class="c-blockquote g--center" >
            <h1 class="c-blockquote__text">Mejorar la formación profesional es el motor de empleaFP</h1>
            <p class="c-blockquote__name">Luis García, Presidente de FPEmpresa</p>
            <img class="c-blockquote__image" src="../img/personas/proyecto.jpeg" alt="luis"/>
        </blockquote>

    </div>
</section>