<section  class="c-section"  >
    <div class="c-section__content  g--padding-vertical-11 " >
        <img class="c-image c-image--top" src="../img/site/info/proyecto.jpg" alt="privacidad"/>
    </div>
</section>

<section  class="c-section"  >
    <div class="c-section__content c-section__content--size-alt " >

        <h1 class="c-title  c-title--left g--margin-bottom-7">
            <span class="c-title__pre">Nuestro </span>
            Proyecto
        </h1>
        <p class="c-text c-text--justify  g--margin-bottom-7">
            Actualmente la Formación Profesional tiene un gran peso en nuestra economía, sin embargo aun hay mucho camino por recorrer.
        </p>

        <p class="c-text c-text--justify">
            En el <a class="c-button c-button--tertiary" href="http://todofp.es/dam/jcr:163978c0-a214-471e-868d-82862b5a3aa3/plan-estrategico--enero-2020.pdf">I Plan Estratégico de Formación Profesional</a> definido por el ministerio de Educación y Formación Profesional
            se establecen diversos ámbitos estratégicos y objetivos para mejorar la FP, destacando los dos siguientes:
        </p>           
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>Promover la implicación, colaboración y confianza de todos los sectores implicados para lograr una FP creadora de valor.</p>
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>Desarrollo de un sistema integrado de orientación profesional.</p>

        <p class="c-text c-text--justify  g--padding-vertical-7">
            Desde la asociación <a class="c-button c-button--tertiary" href="https://fpempresa.net/">FPEmpresa</a> hemos creado empleaFP siguiendo estrategías y objetivos definidos por el ministerio.   
        </p>

        <p class="c-text c-text--justify  g--padding-bottom-7">
            emplaFP colabora tanto con las empresas como con los centros educativos. 
            Logramos la confianza de las empresas y centros educativos al primar la titulación en la Formación Profesional como primer filtro en la selección de personal.
            Las ofertas de trabajo publicadas en empleaFP van destinadas a titulaciones concretas de FP y únicamente pueden optar a ellas quienes posean la titulación requerida.
            Por ello consiguimos crear valor en la Formación Profesional
        </p> 
        
        <p class="c-text c-text--justify  g--padding-bottom-7">
            Dentro del desarrollo de un sistema integrado de orientación profesional es necesario disponer de estadísticas, estudios, encuestas , etc. que ayuden a tener datos con el que programar una orientación de calidad. 
            Desde empleaFP recopilamos la información que disponemos para generar esa información de calidad.
        </p> 
        
    </div>
</section>
<section  class="c-section"  >
    <div class="c-section__content c-section__content--size-alt  g--padding-vertical-11 " >

        <blockquote class="c-blockquote g--center" >
            <h1 class="c-blockquote__text">Mejorar la formación profesional es el motor de empleaFP</h1>
            <p class="c-blockquote__name">Luis García, Presidente de FPEmpresa</p>
            <img class="c-blockquote__image" src="../img/personas/proyecto.jpeg" alt="luis"/>
        </blockquote>

    </div>
</section>