<section  class="c-section"  >
    <div class="c-section__content  g--padding-vertical-11 " >
        <img class="c-image c-image--top" src="../img/site/info/titulado.jpg" alt="privacidad"/>
    </div>
</section>

<section  class="c-section"  >
    <div class="c-section__content c-section__content--size-alt " >

        <h1 class="c-title  c-title--left g--margin-bottom-7">
            <span class="c-title__pre">Pensado para el</span>
            Titulado de FP
        </h1>
        <p class="c-text c-text--justify g--margin-bottom-7">
            empleaFP es el portal de empleo especializado en la Formación Profesional.  
            Valoramos el título de FP que posees, por ello las ofertas que se publican aquí están dirigidas a candidatos y candidatas con una titulación de concreta de FP. 
            ¡Queremos dar valor al esfuerzo que hiciste para obtener tu título!
        </p>

        <p class="c-title c-title--size-alt  c-title--left g--margin-bottom-7">¿Que ventajas tiene empleaFP para ti?</p>
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>Obtén empleo entre las miles ofertas que hay en empleaFP.</p>
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>Consigue un puesto de calidad con ofertas de empleo adecuadas a tu formación.</p>
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>Haz sencilla tu búsqueda de empleo, empleaFP está hecha pensando en ti</p>
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>Accede a las ofertas exclusivas de tu centro educativo</p>

 
        <p class="c-title c-title--size-alt  c-title--left g--margin-top-10 g--margin-bottom-7">¿Como funciona empleaFP?</p>
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>Te registras en empleaFP.</p>
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>Rellenas el curriculum, indicando el ciclo formativo que posees.</p>
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>A partir de ese momento, te llegarán por correo las ofertas adecuadas a tu formación.</p>
        <p class="c-text c-text--justify "><i class="fas fa-check  g--color-alt-5 g--padding-right-2" ></i>Si te interesa alguna oferta , entras en empleaFP y te inscribes en dicha oferta.</p>

        <p class="c-text c-text--justify g--margin-top-10 g--margin-bottom-7">
            Recuerda que en empleaFP no vamos a enviarte publicidad, ni venderte nada, etc., te lo explicamos todo en nuestra página de <a class="c-button c-button--alt-tertiary" href="#/info/privacidad">Privacidad</a> 
        </p>
        <p class="c-text c-text--justify g--margin-bottom-7">  
        </p>              

    </div>
</section>

<section  class="c-section"  >
    <div class="c-section__content c-section__content--size-alt  g--padding-vertical-11 " >
        <iframe class="c-youtube"  src="https://www.youtube-nocookie.com/embed/w-ghOqT9LNk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>


<section  class="c-section"  >
    <div class="c-section__content c-section__content--size-alt  g--padding-vertical-11 " >

        <blockquote class="c-blockquote g--center" >
            <h1 class="c-blockquote__text">empleaFP me ha permitido encontrar un puesto acorde a mi formación</h1>
            <p class="c-blockquote__name">Sara Nadie, Titulada en Desarrollo de Aplicaciones Web</p>
            <img class="c-blockquote__image" src="../img/personas/titulado.jpeg" alt="luis"/>
        </blockquote>

    </div>
</section>

