
<div class="row">
    <div class="col-xs-12 form__container" >
        <div>
            <ix3-business-messages></ix3-business-messages>
            <form name="mainForm" id="mainForm"  ix3-form>
                <fieldset>
                    <legend class="form__title">Centro</legend>


                    <div class="row" >
                        <div class="col-xs-12 form-horizontal"> 
                            <div class="form-group">
                                <label for="nombre" class="col-xs-3 col-sm-6 control-label" ix3-label></label>
                                <div class="col-xs-9 col-sm-6">
                                    <input ng-model="model.nombre" type="text" class="form-control" id="nombre" name="nombre"  ix3-validation>
                                </div>
                            </div> 
                        </div>
                    </div>

                    <legend class="form__title">Direcci&oacute;n</legend>

                    <div class="row" >
                        <div class="col-xs-12 col-sm-6  form-horizontal">
                            <div class="form-group">
                                <label for="direccion.tipoVia" class="col-xs-3 col-sm-6 control-label" ix3-label></label>
                                <div class="col-xs-9 col-sm-6">
                                    <select ng-model="model.direccion.tipoVia" id="direccion.tipoVia" name="direccion.tipoVia" class="form-control" ix3-options ix3-validation >
                                        <option value="">-- Elige Opcion --</option>
                                    </select>
                                </div>
                            </div> 
                        </div>
                        <div class="col-xs-12 col-sm-6  form-horizontal">
                            <div class="form-group">
                                <label for="direccion.nombreVia" class="col-xs-3 col-sm-6 control-label" ix3-label></label>
                                <div class="col-xs-9 col-sm-6">
                                    <input ng-model="model.direccion.nombreVia" type="text" class="form-control" id="direccion.nombreVia" name="direccion.nombreVia"  ix3-validation>
                                </div>
                            </div> 
                        </div>  
                    </div> 


                    <div class="row" >
                        <div class="col-xs-12 col-sm-6  form-horizontal">
                            <div class="form-group">
                                <label for="direccion.otrosDireccion" class="col-xs-3 col-sm-6 control-label" ix3-label></label>
                                <div class="col-xs-9 col-sm-6">
                                    <input ng-model="model.direccion.otrosDireccion" type="text" class="form-control" id="direccion.otrosDireccion" name="direccion.otrosDireccion"  ix3-validation>
                                </div>
                            </div> 
                        </div>
                        <div class="col-xs-12 col-sm-6  form-horizontal">
                            <div class="form-group">
                                <label for="direccion.codigoPostal" class="col-xs-3 col-sm-6 control-label" ix3-label></label>
                                <div class="col-xs-9 col-sm-6">
                                    <input ng-model="model.direccion.codigoPostal" type="text" class="form-control" id="direccion.codigoPostal" name="direccion.codigoPostal"  ix3-validation>
                                </div>
                            </div> 
                        </div>  
                    </div>

                    <div class="row" >
                        <div class="col-xs-12 col-sm-6  form-horizontal">
                            <div class="form-group">
                                <label for="direccion.municipio.provincia" class="col-xs-3 col-sm-6 control-label" ix3-label></label>
                                <div class="col-xs-9 col-sm-6">
                                    <select ng-model="model.direccion.municipio.provincia" id="direccion.municipio.provincia" name="direccion.municipio.provincia" class="form-control" ix3-options="orderBy:'descripcion'" ix3-validation >
                                        <option value="">-- Elige Opcion --</option>
                                    </select>
                                </div>
                            </div> 
                        </div>
                        <div class="col-xs-12 col-sm-6  form-horizontal">
                            <div class="form-group">
                                <label for="direccion.municipio" class="col-xs-3 col-sm-6 control-label" ix3-label></label>
                                <div class="col-xs-9 col-sm-6">
                                    <select ng-model="model.direccion.municipio" id="direccion.municipio" name="direccion.municipio" class="form-control" ix3-options="orderBy:'descripcion'"  ix3-validation ix3-options-depend="{provincia:model.direccion.municipio.provincia}" >
                                        <option value="">-- Elige Opcion --</option>
                                    </select>
                                </div>
                            </div> 
                        </div> 
                    </div> 
                    <br>
                    <div class="row" >
                        <div class="col-xs-12 ">
                            <br>
                            <div class=" pull-right">
                                <button type="button" class="btn form__button form__button--default" ng-click="buttonCancel()" >Volver</button>
                                <button type="button" ng-class="{'form__button--primary':controllerAction !== 'DELETE','form__button--danger':controllerAction === 'DELETE'}" class="btn form__button" ng-click="buttonOK()">{{labelButtonOK}}</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
                    
