    <div class=" form__page form__page--no-padding container">
        <br>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <img class="img-circle" src="../img/photo_user.png" alt="User Pic">
            </div> 
            <div class="col-xs-12 col-sm-10 form--center">
                <h3 class="form__main-title">Bienvenido, {{user.name}}</h3>
                <br>
                <br>
                <br>
                <p class="form__text form__text--help">
                    Desde aqui podr&aacute;s administrar el portal de FPempresa
                </p>          
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-2" style="padding-right: 0px!important;">
                <ul class="lateral-menu__menu">
                    <li class="lateral-menu__header">Sitios</li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('^/$')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('^/$')}"  class="lateral-menu__item__link" href="#/">Panel de control</a></li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/centro/[a-zA-Z]+')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/centro/[a-zA-Z]+')}"  class="lateral-menu__item__link" href="#/centro/search">Centros</a></li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/empresa/[a-zA-Z]+')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/empresa/[a-zA-Z]+')}"  class="lateral-menu__item__link" href="#/empresa/search">Empresas</a></li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/oferta/[a-zA-Z]+')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/oferta/[a-zA-Z]+')}"  class="lateral-menu__item__link" href="#/oferta/search">Ofertas</a></li>
                </ul>
                <br>
                <ul class="lateral-menu__menu">
                    <li class="lateral-menu__header">Usuarios</li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/usuario/.*/tipoUsuario/ADMINISTRADOR')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/usuario/[a-zA-Z]+/tipoUsuario/ADMINISTRADOR')}"  class="lateral-menu__item__link" href="#/usuario/search/tipoUsuario/ADMINISTRADOR">Administradores</a></li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/usuario/.*/tipoUsuario/CENTRO')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/usuario/[a-zA-Z]+/tipoUsuario/CENTRO')}"  class="lateral-menu__item__link" href="#/usuario/search/tipoUsuario/CENTRO">Profesores</a></li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/usuario/.*/tipoUsuario/EMPRESA')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/usuario/[a-zA-Z]+/tipoUsuario/EMPRESA')}"  class="lateral-menu__item__link" href="#/usuario/search/tipoUsuario/EMPRESA">Empresarios</a></li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/usuario/.*/tipoUsuario/TITULADO')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/usuario/[a-zA-Z]+/tipoUsuario/TITULADO')}"  class="lateral-menu__item__link" href="#/usuario/search/tipoUsuario/TITULADO">Titulados</a></li>
                </ul>
                <br>
                <ul class="lateral-menu__menu">
                    <li class="lateral-menu__header">Mi cuenta</li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('^/usuario/edit/' + user.idIdentity+ '$')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('^/usuario/edit/' + user.idIdentity+ '$')}"  class="lateral-menu__item__link" href="#/usuario/edit/{{user.idIdentity}}">Mis datos</a></li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected()}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected()}"  class="lateral-menu__item__link" href ng-click="cambiarContrasenya()">Cambiar contrase&ntilde;a</a></li>
                    
                </ul>
            </div>
            <div class="col-xs-12 col-sm-10">
                <div ui-view></div>                     
            </div>
        </div>
        <br>
        <br>
    </div>
