<section class="container-fluid form__page" >
    <div class="row"  >    
        <div class="col-xs-12 form--center"  >
            <h3 class="form__main-title" >&nbsp;&nbsp;Resetear Contraseña&nbsp;&nbsp;</h3>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="row"  >
        <div class="col-xs-4 col-xs-offset-4 form__container form--center" >
            <form class="form-horizontal" name="mainForm" id="mainForm" ix3-form>
                <ix3-business-messages></ix3-business-messages>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="password">Nueva Contrase&ntilde;a:</label>
                    <div class="col-sm-8"> 
                        <input ng-model="model.password" type="password" class="form-control" id="password" name="password"  required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="confirmPassword">Confirmar contrase&ntilde;a:</label>
                    <div class="col-sm-8"> 
                        <input ng-model="model.confirmPassword" type="password" class="form-control" id="confirmPassword" name="confirmPassword"  required>
                    </div>
                </div>
                <div class="form-group"> 
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-lg form__button form__button--primary pull-right" ng-click="aceptar()">Aceptar</button>
                    </div>
                </div>
            </form>
        </div>   
    </div>            
</section>
