<div class="row">
    <div class="col-xs-12">
        <div id="main-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#main-carousel" data-slide-to="1"></li>
                <li data-target="#main-carousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active"  style="box-sizing: border-box;background-image: url('{{getContextPath()}}/img/headerImage1.jpg');background-size: cover;background-origin: padding-box;background-attachment: scroll;text-align: center">
                    <div class="row">
                        <div class="col-xs-8">
                            <div class='jumbotron'>
                                <h1>Titulado</h1>
                                <p class="lead" style="white-space:nowrap">La mayor bolsa de trabajo espec&iacute;fica <br>para los titulados de la FP <br>donde encontrar tu primer puesto de trabajo</p>
                                <p><a class="btn btn-lg btn-titulado" href="" role="button" ng-click="createAccount('TITULADO')">Crea una cuenta</a>&nbsp;&nbsp;<a class="btn btn-lg btn-empresa" href="" role="button"  ng-click="login()" >Ver ofertas de trabajo</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" style="box-sizing: border-box;background-image: url('{{getContextPath()}}/img/headerImage2.jpg');background-size: cover;background-origin: padding-box;background-attachment: scroll;text-align: center">
                    <div class="row">
                        <div class="col-xs-8">
                            <div class='jumbotron'>
                                <h1>Empresa</h1>
                                <p class="lead">Encuentra los mejores titulados <br>de la formaci&oacute;n profesional espec&iacute;fica y<br>verificados por sus propios centros.</p>
                                <p><a class="btn btn-lg btn-empresa" href="" role="button" ng-click="createAccount('EMPRESA')" >Crea una cuenta</a>&nbsp;&nbsp;<a class="btn btn-lg btn-titulado" href="" role="button"  ng-click="login()" >Busca candidatos</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" style="box-sizing: border-box;background-image: url('{{getContextPath()}}/img/headerImage3.jpg');background-size: cover;background-origin: padding-box;background-attachment: scroll;text-align: center">
                    <div class="row">
                        <div class="col-xs-8">
                            <div class='jumbotron'>
                                <h1>Centro Educativo</h1>
                                <p class="lead">La bolsa de trabajo privada para <br>tu centro, donde poder gestionar<br>tus titulados y tus ofertas de trabajo.</p>
                                <p><a class="btn btn-lg btn-centro" href="" role="button" ng-click="createAccount('CENTRO')">Crea una cuenta</a>&nbsp;&nbsp;<a class="btn btn-lg btn-titulado" href="" role="button"  ng-click="login()" >Ver tus titulados</a></p>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="" ng-click="carouselPrev()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="" ng-click="carouselNext()">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>                


    </div>
</div>

<div class="row marketing" style="background: #FFFFFF url('congreso/fondo.png') no-repeat left top;color:#000000">
    <div class="container">
        <div class="row">          
            <div class="col-md-11" style="text-align:right">
                <a href="congreso/congreso.pdf" target="_blank" style="text-decoration:none">
                <p style="color:#849E95;margin:0px;line-height:90%;font-size: 6.3vw;font-weight: bolder">I CONGRESO</p>
                <p style="color:#526060;margin:0px;line-height:90%;font-size: 6.3vw;font-weight: bolder">DE FORMACIÓN</p> 
                <p style="color:#526060;margin:0px;line-height:90%;font-size: 6.3vw;font-weight: bolder">PROFESIONAL</p>
                <br>
                <p style="color:#C6CC22;margin:0px;line-height:100%;font-size: 3vw;font-weight: bolder">MADRID</p>
                <p style="color:#C6CC22;margin:0px;line-height:100%;font-size: 3vw;font-weight: bolder">27 DE JUNIO DE 2014</p>
                <p style="color:#526060;margin:0px;line-height:100%;font-size: 3vw;font-weight: bolder">Hotel Rafaelhoteles Atocha</p>
                </a>
                <br>
                <a href="congreso/programa_congreso.pdf" class="btn btn-titulado btn-lg" target="_blank">PROGRAMA</a>&nbsp;&nbsp;&nbsp;<a href="https://docs.google.com/a/fpmislata.com/forms/d/18NdkTXWJ2qcwSZPYAuNfQhEbCQdDUykF4c4HQ4WK3K8/viewform" class="btn btn-titulado btn-lg">INSCR&Iacute;BETE</a> 
                <br>
                <br>
                <span style="color:#526060;">&iquest;Vas a ir en tren?</span>&nbsp;<a style="color:#C6CC22;" href="congreso/descuento_renfe.pdf" target="_blank">Tu descuento con Renfe</a>
            </div>
        </div>
    </div>
</div>


<div class="row marketing" style="background-color:#F7F7F7 " >
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{getContextPath()}}/img/titulado.png" alt="titulado">
                <h2>Titulados</h2>
                <p>Encuentra tu primer empleo con la bolsa de trabajo hecha pensando en ti, el titulado de FP </p>
                <p>Mejora tu curriculum con datos verificados por el propio centro donde has estudiado</p>

                <p><a class="btn btn-lg btn-titulado" href="" ng-click="login()" >Mi curriculum</a></p>
            </div>
            <div class="col-md-4">
                <img src="{{getContextPath()}}/img/empresa.png" alt="titulado">
                <h2>Empresas</h2>
                <p>Ahorra tiempo con un servicio donde prima la sencillez y rapidez de todo el proceso de selecci&oacute;n</p>
                <p>Mejora tu selecci&oacute;n de personal , con datos verificados por los propios centros educativos.</p>
                <p><a class="btn btn-lg btn-empresa" href="" ng-click="login()" >Mis ofertas</a></p>
            </div>
            <div class="col-md-4">
                <img src="{{getContextPath()}}/img/centro.png" alt="centro">
                <h2>Centros Educativos</h2>
                <p>Ahorra tiempo y dinero en la gesti&oacute;n de tus titulados gracias al servicio de la asociaci&oacute;n FPempresa.</p>
                <p>Agiliza las relaciones entre tus titulados y tus empresas con la bolsa de trabajo unificada de la FP</p>
                <p><a class="btn btn-lg btn-centro" href=""  ng-click="login()"  >Mi bolsa de trabajo</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row marketing" style="background-color:#63799C;color: #FFFFFF ">
    <div class="container">
        <div class="row">          
            <div class="col-md-12" style="text-align:center">
                <h1>Por el empleo</h1>
                <p style="font-size: 1.5em;">
                    La formaci&oacute;n profesional tiene entre sus objetivos prioritarios la inserci&oacute;n laboral.
                </p>
                <p style="font-size: 1.5em;">
                    Desde FPempresa trabajamos para conseguir unir los mundos de la FP y de la empresa.
                </p>                
                <br>
                <br>
                <p>
                    <img ng-src="{{getContextPath()}}/img/international.png" alt="international" >
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row marketing" style="background-color:#F7F7F7">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>&iquest;Por que FPempresa?</h1>
                <p style="font-size: 1.5em;">
                    FPempresa es una asociaci&oacute;n de los mayores centros de formaci&oacute;n profesional con el objetivo de mejorar la calidad de la FP.
                </p>
                <p style="font-size: 1.5em;">
                    Dentro del plan global de calidad se ha creado esta bolsa de trabajo para mejorar el acceso de los titulados de FP al mundo laboral.
                </p>



            </div>
            <div class="col-md-4">
                <br>
                <img ng-src="{{getContextPath()}}/img/tablet.png" alt="tablet" >
            </div>
        </div>
    </div>
</div>
