<div class="row">
    <div class="col-sm-12 form__container" >

    <div class="row" >
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-primary text-center">        
                <div class="panel-heading"><h2 class="panel-title">N&ordm; Titulados</h2></div>
                <div class="panel-body">
                    <h1>{{estadisticas.numTitulados}}</h1>
                </div>
            </div>           
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-primary text-center">        
                <div class="panel-heading"><h2 class="panel-title">N&ordm; Ofertas</h2></div>
                <div class="panel-body">
                    <h1>{{estadisticas.numOfertas}}</h1>
                </div>
            </div>             
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-primary text-center">        
                <div class="panel-heading"><h2 class="panel-title">N&ordm; Empresas</h2></div>
                <div class="panel-body">
                    <h1>{{estadisticas.numEmpresas}}</h1>
                </div>
            </div>             
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-primary text-center">        
                <div class="panel-heading"><h2 class="panel-title">N&ordm; Profesores</h2></div>
                <div class="panel-body">
                    <h1>{{estadisticas.numProfesores}}</h1>
                </div>
            </div>             
        </div>

    </div>
    </div>    
</div>

