<div class="row">
    <div class="col-xs-12 form__container" >
        <form name="mainForm" id="mainForm"  ix3-form>
            <div class="row" >
                <div class="col-xs-12 ">        
                    <ix3-business-messages></ix3-business-messages>
                </div>
            </div>


            <div class="row" >
                <div class="col-xs-12 ">
                    <fieldset>
                        <legend class="form__title">Panel de control</legend>

                        <div class="row">
                            <div class="col-xs-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-graduation-cap fa-4x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="section__text--size-high">{{model.titulados}}</div>
                                                <div class="section__text--size-high">Titulados</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#/titulado/search">
                                        <div class="panel-footer" style="background-color: #FFFFFF">
                                            <span class="pull-left">Ir a los titulados</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>   
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-user fa-4x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="section__text--size-high">{{model.empresas}}</div>
                                                <div class="section__text--size-high">Empresas</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#/empresa/search">
                                        <div class="panel-footer" style="background-color: #FFFFFF">
                                            <span class="pull-left">Ir a las empresas</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-shopping-cart  fa-4x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="section__text--size-high">{{model.ofertas}}</div>
                                                <div class="section__text--size-high">Ofertas</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#/oferta/search">
                                    <div class="panel-footer" style="background-color: #FFFFFF">
                                        <span class="pull-left">Ir a las ofertas</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                    </a>
                                </div>
                            </div>                            
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row" >
                <div class="col-xs-12 ">
                    <div id="grafica" style="height: 400px;position: relative;top:0px;left:0px;"  ></div>
                </div>
            </div>
        </form>
    </div>
</div>



