.form__page {
  background-color: #f6f8f7;
  padding-top: 150px;
  padding-bottom: 50px;
}
.form__container {
  border: 1px solid #005595;
  background-color: #f1f1f1;
  padding: 30px;
}
.form--center {
  text-align: center;
}
.form__main-title {
  font-size: 30px;
  border-bottom: solid 2px;
  display: inline;
  padding-bottom: 10px;
  font-family: Arial Narrow, Arial, sans-serif;
}
.form__container {
  border: 1px solid #005595;
  background-color: #f1f1f1;
  padding: 30px;
}
.form__label {
  color: #005595;
  font-family: Arial, sans-serif;
}
.form__text {
  color: #005595;
  font-family: Arial Narrow, Arial, sans-serif;
}
.form__input,
form__select,
form__text-area {
  border-color: #C7C7C7;
}
.form__button--ok {
  color: #ffffff;
  background-color: #3360a1;
  border-color: #2d548e;
}
.form__button--ok:hover,
.form__button--ok:focus,
.form__button--ok:active,
.form__button--ok.active,
.open .dropdown-toggle.form__button--ok {
  color: #ffffff;
  background-color: #294e82;
  border-color: #1e395f;
}
.form__button--ok:active,
.form__button--ok.active,
.open .dropdown-toggle.form__button--ok {
  background-image: none;
}
.form__button--ok.disabled,
.form__button--ok[disabled],
fieldset[disabled] .form__button--ok,
.form__button--ok.disabled:hover,
.form__button--ok[disabled]:hover,
fieldset[disabled] .form__button--ok:hover,
.form__button--ok.disabled:focus,
.form__button--ok[disabled]:focus,
fieldset[disabled] .form__button--ok:focus,
.form__button--ok.disabled:active,
.form__button--ok[disabled]:active,
fieldset[disabled] .form__button--ok:active,
.form__button--ok.disabled.active,
.form__button--ok[disabled].active,
fieldset[disabled] .form__button--ok.active {
  background-color: #3360a1;
  border-color: #2d548e;
}
.form__button--ok .badge {
  color: #3360a1;
  background-color: #ffffff;
}
.form__button--alternative {
  color: #ffffff;
  background-color: #5bba5c;
  border-color: #4ab14c;
}
.form__button--alternative:hover,
.form__button--alternative:focus,
.form__button--alternative:active,
.form__button--alternative.active,
.open .dropdown-toggle.form__button--alternative {
  color: #ffffff;
  background-color: #46a647;
  border-color: #388639;
}
.form__button--alternative:active,
.form__button--alternative.active,
.open .dropdown-toggle.form__button--alternative {
  background-image: none;
}
.form__button--alternative.disabled,
.form__button--alternative[disabled],
fieldset[disabled] .form__button--alternative,
.form__button--alternative.disabled:hover,
.form__button--alternative[disabled]:hover,
fieldset[disabled] .form__button--alternative:hover,
.form__button--alternative.disabled:focus,
.form__button--alternative[disabled]:focus,
fieldset[disabled] .form__button--alternative:focus,
.form__button--alternative.disabled:active,
.form__button--alternative[disabled]:active,
fieldset[disabled] .form__button--alternative:active,
.form__button--alternative.disabled.active,
.form__button--alternative[disabled].active,
fieldset[disabled] .form__button--alternative.active {
  background-color: #5bba5c;
  border-color: #4ab14c;
}
.form__button--alternative .badge {
  color: #5bba5c;
  background-color: #ffffff;
}
/*# sourceMappingURL=form.css.map */