.c-image {
    display:block;
    border-radius: getBorderRadious(5);
    opacity: 0.8;
    width:90%;
    margin:auto;
    
    &--top {
        width: 100%; 
        height: 46.875vw;
        max-width: 640px;
        max-height: 300px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;        
        opacity: 0.9;
    }
    
}