<div class="row">
    <div class="col-sm-12 formulario-neutro" >
        <div>
            <h3>Idiomas</h3>
            <hr>
            <ix3-business-messages></ix3-business-messages>
            <table class="table table-bordered">
                <thead>                      
                    <tr>
                        <th style="min-width:30px;text-align: center">Nivel</th>
                        <th style="width:    100% ;text-align: center">Nombre</th>
                        <th style="min-width:85px;text-align: center">Fecha</th>
                        <th style="min-width:120px;text-align: center" >Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tituloIdioma in models">
                        <td >{{tituloIdioma.getNivelIdiomaDescription()}}</td>
                        <td >{{tituloIdioma.getNombreIdioma()}}</td>
                        <td >{{tituloIdioma.fecha| ix3Date}}</td>
                        <td >
                            <button class="btn btn-danger btn-xs" type="button" ng-click="buttonDelete(tituloIdioma.idTituloIdioma)">Borrar</button>
                            <button class="btn btn-standard btn-xs" type="button" ng-click="buttonEdit(tituloIdioma.idTituloIdioma)">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table> 
            <button  class="btn btn-standard"   ng-click="buttonNew()" >Nuevo Idioma</button>
        </div>
    </div>
</div>

