<div class="row">
    <div class="col-sm-12 form__container" >
        <div>
            <legend class="form__title">Selecciona el centro educativo de FPempresa al que pertenences</legend>


            <div ng-if="user.centro === null">
                <p class="form__text form__text--help" >Actualmente no perteneces a ningún centro educativo.</p>
                <p class="form__text form__text--help">Unas vez indicado el centro no podr&aacute;s acceder hasta que el centro te acepte o rechace.</p> 
            </div>
            <div ng-if="user.centro !== null">
                <p class="form__text form__text--help">Actualmente perteneces al centro educativo '{{user.centro.toString()}}'.</p> 
                <p class="form__text form__text--help">Si cambias de centro no podr&aacute;s acceder hasta que tu nuevo centro te acepte o rechace.</p> 
            </div>





            <ix3-business-messages></ix3-business-messages>
            <table class="table table-bordered">
                <thead>                        
                    <tr class="data-table__head">
                        <th ix3-order-field-names="nombre" style="               ;text-align: center">Nombre</th>
                        <th ix3-order-field-names="direccion.municipio.provincia.descripcion" style="width:      20%;text-align: center">Provincia</th>
                        <th ix3-order-field-names="direccion.municipio.descripcion" style="width:      25%;text-align: center">Poblaci&oacute;n</th>
                        <th style="width:      25%;text-align: center">Direccion</th>
                        <th style="min-width:90px;width:90px;text-align: center" >Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="centro in models" class="data-table__row">
                        <td ><a href ng-click="buttonPertenenciaCentro(centro.idCentro)">{{centro.nombre}}</a></td>
                        <td >{{centro.direccion.municipio.provincia.descripcion}}</td>
                        <td >{{centro.direccion.municipio.descripcion}}</td>
                        <td >{{centro.direccion.datosDireccion}}</td>      
                        <td>
                            <div style="text-align:center" >
                                <button class="btn btn-xs form__button form__button--default" type="button" ng-click="buttonPertenenciaCentro(centro.idCentro)">Pertenecer</button>                                
                            </div>
                        </td>                         
                    </tr>
                </tbody>
            </table> 

            <div class="row">
                <div class="col-sm-12">
                    <ix3-pagination></ix3-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
