<div class="row">
    <div class="col-sm-12 formulario-neutro" >
        <div >
            <h3>Experiencia Laboral</h3>
            <hr>
            <ix3-business-messages></ix3-business-messages>
            <table class="table table-bordered">
                <thead>                       
                    <tr>
                        <th style="width:      60%;text-align: center">Empresa</th>
                        <th style="width:      30%;text-align: center">Puesto</th>
                        <th style="min-width:150px;text-align: center">Fechas</th>
                        <th style="min-width:120px;text-align: center" >Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="experienciaLaboral in models">
                        <td >{{experienciaLaboral.nombreEmpresa}}</td>
                        <td >{{experienciaLaboral.puestoTrabajo}}</td>
                        <td >{{experienciaLaboral.fechaInicio| ix3Date}} - {{experienciaLaboral.fechaFin| ix3Date}}</td>
                        <td >
                            <button class="btn btn-danger btn-xs" type="button" ng-click="buttonDelete(experienciaLaboral.idExperienciaLaboral)">Borrar</button>
                            <button class="btn btn-standard btn-xs" type="button" ng-click="buttonEdit(experienciaLaboral.idExperienciaLaboral)">Editar</button>
                        </td>                            
                    </tr>
                </tbody>
            </table>                
            <button  class="btn btn-standard"   ng-click="buttonNew()" >Nueva Experiencia Laboral</button>
        </div>
    </div>
</div>