<div class="row">
    <div class="col-sm-12 formulario-neutro" >
        <div>
            <form name="mainForm" class="form-horizontal" id="mainForm" >
                <fieldset>
                    <legend>Experiencia laboral</legend>
                    <ix3-input model="nombreEmpresa" ></ix3-input>
                    <ix3-input model="fechaInicio" ></ix3-input>
                    <ix3-input model="fechaFin" ></ix3-input>
                    <ix3-input model="puestoTrabajo" ></ix3-input>
                    <div class="form-group">
                        <label for="descripcion" class="col-sm-3 control-label">Descripci&oacute;n de las tareas realizadas</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" ng-model="model.descripcion" id="descripcion" rows="3"></textarea>
                        </div>
                    </div>
                </fieldset>
            </form>
            <button type="button" ng-class="{'btn-standard':controllerAction !== 'DELETE','btn-danger':controllerAction === 'DELETE'}" class="btn" ng-click="buttonOK()">{{labelButtonOK}}</button>
        </div>
    </div>
</div>

