.jumbotron {
  color: #FFFFFF;
  text-align: center;
  background-color: transparent;
}
.marketing {
  padding: 0px;
}
.marketing .col-md-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-md-4 p {
  margin-left: 10px;
  margin-right: 10px;
}
.ayuda h1 {
  color: #525552;
}
.ayuda p {
  color: #9c9a9c;
}
.soft-formulario > div {
  border: 1px solid #E7E7E7;
  background: #F7F7F7;
  padding: 15px;
}
.soft-formulario h3 {
  color: #525552;
}
