<div class="row">
    <div class="col-xs-12" >
        <div>
                    <h1 class="form__title">{{titulo}}</h1>
                    <div class="row" >
                        <div class="col-xs-12"> 
                            <p class="form__text form__text--help">{{mensaje}}</p>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-12"> 
                            <textarea ng-model="datosContacto" rows="4" class="form-control" ></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row" >
                        <div class="col-xs-12"> 
                            <p class="form__text form__text--help">Recuerda que el que est&eacute;s inscrito o no en esta oferta es simplemente a efectos tuyos de gesti&oacute;n de las ofertas</p>
                        </div>
                    </div>
                    <br>
                    <div class="row" >
                        <div class="col-xs-12"> 
                            <div class="pull-right">
                                <button type="button" class="btn form__button form__button--primary" ng-click="buttonCancel()" >Cerrar</button>
                            </div>
                        </div>
                    </div>                    
        </div>
    </div>
</div>
