<div class="row">
    <div class="col-sm-12 form__container" >
        <div class="row">
            <div class="col-sm-12">
                <legend class="form__title">Ofertas</legend>
            </div>
        </div>  
        <form name="mainForm" id="mainForm" ix3-form>
            <div class="row" >
                <div class="col-xs-12 col-sm-4  form-horizontal">
                    <select ng-model="filters.provincia" ix3-schema-property='Oferta.municipio.provincia' id="provincia" name="provincia" class="form-control" ix3-options="orderBy:'descripcion'"  >
                        <option value="">-- Provincia --</option>
                    </select>

                </div>
                <div class="col-xs-12 col-sm-4  form-horizontal">
                    <div class="input-group">
                        <input ng-model="filters.fechaInicio"  ix3-schema-property='Oferta.fecha'  type="text" class="form-control" id="fechaInicio" name="fechaInicio"  ix3-date ix3-datepicker placeholder="Fecha desde" >
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div> 
                <div class="col-xs-12 col-sm-4  form-horizontal">
                    <div class="input-group">
                        <input ng-model="filters.fechaFin"  ix3-schema-property='Oferta.fecha'  type="text" class="form-control" id="fechaFin" name="fechaFin"  ix3-date ix3-datepicker placeholder="Fecha hasta" >
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div> 
                </div>                         
            </div> 
            <br>
            <div class="row" >
                <div class="col-xs-12 ">
                    <button type="button" class="btn form__button form__button--primary " ng-click="buttonSearch()">Buscar</button>
                </div>
            </div>
            <br>
            <div class="alert alert-info" ng-if="models.length <= 0" role="alert">
                <p>¡Ups!. Parece que no hemos encontrado ninguna oferta para ti. Esto es debido a que empleaFP solo muestra ofertas de los ciclos que has cursado ya que desde empleaFP promovemos los ciclos de FP</p>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-12">      
                <ix3-business-messages></ix3-business-messages>
            </div>
        </div>  
        <div class="row">
            <div class="col-sm-12">   
                <table class="table table-bordered">
                    <thead>                        
                        <tr class="data-table__head">
                            <th  style="width:   40%;text-align: center">Puesto</th>
                            <th  style="width:   20%;text-align: center">Empresa</th>
                            <th  style="width:   30%;text-align: center">Familia</th>
                            <th  style="width:   30%;text-align: center">Fecha</th>
                            <th style="min-width: 120px; width: 120px;text-align: center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="model in models" class="data-table__row">
                            <td ><a href ng-click="buttonView(model.idOferta)">{{model.puesto}}</a></td>
                            <td >{{model.empresa.nombreComercial}}</td>
                            <td >{{model.familia.descripcion}}</td>
                            <td >{{model.fecha | date: 'dd/MM/yyyy'}}</td>
                            <td >
                                <button class="btn btn-xs form__button form__button--default" type="button" ng-click="buttonView(model.idOferta)">Ver</button>
                            </td>                             
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>             
        <div class="row">
            <div class="col-sm-12">
                <ix3-pagination></ix3-pagination>
            </div>
        </div>  

    </div>
</div>