<div class="row"  >
    <div class="col-sm-12"  >
        <div class="g--margin-top-4" >
            <div class="row">
                <div class="col-xs-8"> 
                    <input ng-model="filters.$lliker.nombreComercial" type="text" class="form-control" id="nombreComercial" name="nombreComercial" placeholder="Nombre comercial"  > 
                </div>
                <div class="col-xs-4"> 
                    <input ng-model="filters.cif" type="text" class="form-control" id="cif" name="nombre" placeholder="CIF"  > 
                </div>             
            </div>          
            <br>
            <div class="row" >
                <div class="col-xs-12 ">
                    <button type="button" class="btn form__button form__button--primary " ng-click="buttonSearch()">Buscar</button>
                </div>
            </div>
            <br>             
            <ix3-business-messages></ix3-business-messages>
            <table class="table table-bordered table-condensed">
                <thead>                        
                    <tr class="data-table__head">
                        <th ix3-order-field-names="nombreComercial"                 style="width:   40%;text-align: center">Nombre Comercial</th>
                        <th ix3-order-field-names="fecha          "                 style="width:   15%;text-align: center">Fecha</th>
                        <th ix3-order-field-names="cif"                             style="width:   15%;text-align: center">CIF</th>
                        <th ix3-order-field-names="direccion.municipio.descripcion" style="width:   30%;text-align: center">Municipio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="empresa in models" class="data-table__row">
                        <td ><a href ng-click="buttonSeleccionar(empresa)">{{empresa.nombreComercial}}</a></td>
                        <td >{{empresa.fecha| date: 'dd/MM/yyyy'}}</td>
                        <td >{{empresa.cif}}</td>
                        <td >{{empresa.direccion.municipio.descripcion}}</td>                                               
                    </tr>
                </tbody>
            </table> 
            <div class="row g--margin-bottom-0">
                <div class="col-sm-12">
                    <ix3-pagination></ix3-pagination>
                </div>
            </div>            
        </div>
    </div>
</div>