<nav class="navbar navbar-custom top-nav-collapse" role="navigation" ng-controller="HeaderController" >
    <div class="container-fluid" >
        <div class="navbar-header">
            <button id="buttonMenuHeader" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{getContextPath()}}/site/index.html">
                <img src="../img/logo/logo.png"  alt="logo"  >&nbsp;
            </a>
            <a class="navbar-brand" href="https://www.bankia.es">
                <img src="../img/logo/logo-bankia.jpg"  alt="logo bankia"  >&nbsp;
            </a>              
        </div>


        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">

                <li class="hidden">
                    <a href="{{getContextPath()}}/site/index.html" fpe-click-button-on-click="buttonMenuHeader"></a>
                </li>
                <li>
                    <a href ng-click="soporte()" fpe-click-button-on-click="buttonMenuHeader">Soporte</a>
                </li>                
                <li>
                    <a href ng-click="logout()" fpe-click-button-on-click="buttonMenuHeader">Cerrar sesi&oacute;n</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="container-fluid" >
        <div class="navbar-header navbar-left" style="height: 80%" >
            <div style="padding: 10px; font-size: large;color: #FFFFFF;text-transform: none" >
                Soporte: &nbsp;&nbsp; <i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;94 645 09 34 Ext. 4  Empleo &nbsp;&nbsp; <i class="fa fa-envelope-square" aria-hidden="true"></i>&nbsp;soporte@empleafp.com&nbsp;&nbsp; <a href="https://twitter.com/empleaFP" class="fpe_link" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i> &nbsp;#empleaFP</a>                   
            </div>
        </div>        
    </div>       
</nav>
