<div class="row">
    <div class="col-sm-12 form__container" >
        <div>
            <legend class="form__title">Usuarios {{tipoUsuarioDescription}}</legend>
            <div class="row">
                <div class="col-xs-5"> 
                    <input ng-model="filters.$lliker.nombre" type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre"  > 
                </div>
                <div class="col-xs-7"> 
                    <input ng-model="filters.$lliker.apellidos" type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos"  > 
                </div>               
            </div> 
            <br>
            <div class="row">
                <div class="col-xs-5"> 
                    <input ng-model="filters.email" type="text" class="form-control" id="email" name="email" placeholder="Correo"  > 
                </div> 
                <div class="col-xs-7"> 
                    <input ng-model="filters.$lliker['centro.nombre']" ng-if="(parentProperty==='tipoUsuario') && (parentId === 'CENTRO')" type="text" class="form-control" id="centro.nombre" name="centro.nombre" placeholder="Centro"  > 
                </div> 
                <div class="col-xs-7"> 
                    <input ng-model="filters.$lliker['empresa.nombreComercial']" ng-if="(parentProperty==='tipoUsuario') && (parentId === 'EMPRESA')" type="text" class="form-control" id="nombreComercial" name="empresa.nombreComercial" placeholder="Empresa"  > 
                </div> 
            </div>             
            <br> 
            <div class="row" >
                <div class="col-xs-12 ">
                    <button type="button" class="btn form__button form__button--primary " ng-click="buttonSearch()">Buscar</button>
                </div>
            </div>
            <br>            
            <ix3-business-messages></ix3-business-messages>
            <table class="table table-bordered">
                <thead>                        
                    <tr class="data-table__head">
                        <th ix3-order-field-names="nombre,apellidos" style="text-align: center">Nombre</th>
                        <th ix3-order-field-names="email" style="width:   15%;text-align: center">Correo</th>
                        <th ix3-order-field-names="centro.nombre" ng-if="(parentProperty==='tipoUsuario') && (parentId === 'CENTRO')" style="text-align: center">Centro</th>
                        <th ix3-order-field-names="empresa.nombreComercial" ng-if="(parentProperty==='tipoUsuario') && (parentId === 'EMPRESA')" style="text-align: center">Empresa</th>
                        <th  style="width:   10%;text-align: center">Validado EMail</th>
                        <th style="max-width: 120px; width: 120px;text-align: center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="usuario in models" class="data-table__row">
                        <td ><a href ng-click="buttonEdit(usuario.idIdentity)">{{usuario.getNombreCompleto()}}</a></td>
                        <td >{{usuario.email}}</td>
                        <td  class="text-center" ng-if="usuario.tipoUsuario === 'CENTRO'">{{usuario.centro.nombre}}</td>                        
                        <td  class="text-center" ng-if="usuario.tipoUsuario === 'EMPRESA'">{{usuario.empresa.nombreComercial}}</td>                        
                        <td  ng-switch    on="usuario.validadoEmail" class="text-center"><i ng-switch-default class="fa fa-square-o"></i><i ng-switch-when="true" class="fa fa-check-square-o"></i></td>
                        <td >
                            <button class="btn btn-xs form__button form__button--danger" type="button" ng-click="buttonDelete(usuario.idIdentity)">Borrar</button>
                            <button class="btn btn-xs form__button form__button--default" type="button" ng-click="buttonEdit(usuario.idIdentity)">Editar</button>
                        </td>                             
                    </tr>
                </tbody>
            </table> 
            <div class="row">
                <div class="col-sm-12">
                    <ix3-pagination></ix3-pagination>
                </div>
            </div>   
            <button type="button" class="btn form__button form__button--primary" ng-click="buttonNew()">Nuevo Usuario</button>
        </div>
    </div>
</div>
