



<div class="row">
    <div class="col-sm-12 formulario-neutro" >
        <div>
            <ix3-business-messages></ix3-business-messages>
            <form name="mainForm" class="form-horizontal" id="mainForm" >
                <fieldset>
                    <legend>Datos personales</legend>
                    <div class="form-group">
                        <label for="model.fechaNacimiento" class="col-sm-3  control-label">Fecha de nacimiento</label>
                        <div  class="input-group col-sm-3">
                            <input ng-model="model.fechaNacimiento" id="model.fechaNacimiento" name="model.fechaNacimiento" class="form-control" type="text"  ix3-date ix3-datepicker required />
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>  
                        <div  class="col-sm-3"></div>
                    </div>
                    <div class="form-group">
                        <label for="model.telefono" class="col-sm-3  control-label">Tel&eacute;fono</label>
                        <div class="col-sm-3">
                            <input ng-model="model.telefono" id="model.telefono" name="model.telefono" class="form-control" type="text" ng-pattern="/^\d{9}$/" required  />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="model.telefonoAlternativo" class="col-sm-3  control-label">Tel&eacute;fono alternativo</label>
                        <div class="col-sm-3">
                            <input ng-model="model.telefonoAlternativo" id="model.telefonoAlternativo" name="model.telefonoAlternativo" class="form-control" type="text" ng-pattern="/^\d{9}$/" required  />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="model.tipoDocumento" class="col-sm-3  control-label">Tipo de documento</label>
                        <div class="col-sm-3">
                            <select ng-model="model.tipoDocumento" id="model.tipoDocumento" name="model.tipoDocumento" class="form-control" ix3-options-enum >
                                <option value="">-- Elige Opcion --</option>
                            </select>
                        </div>
                    </div>       
                    <div class="form-group">
                        <label for="model.numeroDocumento" class="col-sm-3  control-label">N&ordm; de Documento</label>
                        <div class="col-sm-3">
                            <input ng-model="model.numeroDocumento" id="model.numeroDocumento" name="model.numeroDocumento" class="form-control" type="text"  required  />
                        </div>
                    </div>                    
                    
                    <legend>Direcci&oacute;n</legend>
                    <div class="form-group">
                        <label for="model.direccion.tipoVia" class="col-sm-3  control-label">Tipo de via</label>
                        <div class="col-sm-3">
                            <select ng-model="model.direccion.tipoVia" id="model.direccion.tipoVia" name="model.direccion.tipoVia" class="form-control" ix3-options-enum >
                                <option value="">-- Elige Opcion --</option>
                            </select>
                        </div>
                    </div>                    

                    <div class="form-group">
                        <label for="model.direccion.nombreVia" class="col-sm-3  control-label">Nombre de la v&iacute;a</label>
                        <div class="col-sm-3">
                            <input ng-model="model.direccion.nombreVia" id="model.direccion.nombreVia" name="model.direccion.nombreVia" class="form-control" type="text"  required  />
                        </div>
                    </div>                      
                    <div class="form-group">
                        <label for="model.direccion.otrosDireccion" class="col-sm-3  control-label">Patio,Puerta, N&ordm;, Bloque, etc.</label>
                        <div class="col-sm-3">
                            <input ng-model="model.direccion.otrosDireccion" id="model.direccion.otrosDireccion" name="model.direccion.otrosDireccion" class="form-control" type="text"  required  />
                        </div>
                    </div>                      
                    <div class="form-group">
                        <label for="model.direccion.codigoPostal" class="col-sm-3  control-label">C&oacute;digo postal</label>
                        <div class="col-sm-3">
                            <input ng-model="model.direccion.codigoPostal" id="model.direccion.codigoPostal" name="model.direccion.codigoPostal" class="form-control" type="text" ng-pattern="/^\d{5}$/" required  />
                        </div>
                    </div>                      
                    
                    <div class="form-group">
                        <label for="model.direccion.provincia" class="col-sm-3  control-label">Provincia</label>
                        <div class="col-sm-3">
                            <select ng-model="model.direccion.provincia" id="model.direccion.provincia" name="model.direccion.provincia" class="form-control" ix3-options-lov  required >
                                <option value="">-- Elige Opcion --</option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="model.direccion.municipio" class="col-sm-3  control-label">Municipio</label>
                        <div class="col-sm-3">
                            <select ng-model="model.direccion.municipio" id="model.direccion.municipio" name="model.direccion.municipio" class="form-control" ix3-options-lov  required>
                                <option value="">-- Elige Opcion --</option>
                            </select>
                        </div>
                    </div> 

                </fieldset>
            </form>
            <br>
            <button type="button" class="btn btn-standard" ng-click="buttonOK()">{{labelButtonOK}}</button>
        </div>
    </div>
</div>



