<div class="row">
    <div class="col-sm-12 form__container" >
        <div>
            <legend class="form__title">Ofertas</legend>
            <div class="row">
                <div class="col-xs-12"> 
                    <input ng-model="filters.$lliker.puesto" type="text" class="form-control" id="puesto" name="puesto"  placeholder="Puesto"  > 
                </div>          
            </div>  
            <br>
            <div class="row">
                <div class="col-xs-12"> 
                    <input ng-model="filters.$lliker['empresa.nombreComercial']" type="text" class="form-control"  id="nombreComercial" name="nombreComercial" placeholder="Empresa"  > 
                </div>             
            </div>
            <br>
            <div class="row">
                <div class="col-xs-3"> 
                    <div  class="input-group ">
                        <input ng-model="filters.$ge.fecha" type="text" class="form-control"  id="fechaDesde" name="fechaDesde" placeholder="fecha desde" ix3-date ix3-datepicker > 
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>                     
                </div> 
                <div class="col-xs-3"> 
                    <div  class="input-group ">                    
                        <input ng-model="filters.$le.fecha" type="text" class="form-control"  id="fechaHasta" name="fechaHasta" placeholder="fecha hasta" ix3-date ix3-datepicker > 
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div> 
                </div> 
            </div>
            <br>
            <div class="row" >
                <div class="col-xs-12 ">
                    <button type="button" class="btn form__button form__button--primary " ng-click="buttonSearch()">Buscar</button>
                    <a ng-href="{{getContextPath()}}/api/administrador/download/nocentro/ofertas.xls?fechaInicio={{filters.$ge.fecha | date: &quot;yyyy-MM-ddTHH:mm:ss.sss'Z'&quot;}}&fechaFin={{filters.$le.fecha | date: &quot;yyyy-MM-ddTHH:mm:ss.sss'Z'&quot;}}"  class="btn form__button form__button--default" style="float:right"   >Descargar Excel</a>                                
                </div>
            </div>
            <br>             
            <ix3-business-messages></ix3-business-messages>
            <table class="table table-bordered">
                <thead>                        
                    <tr class="data-table__head">
                        <th ix3-order-field-names="idOferta" style="min-width: 60px; width: 60px;text-align: center">#</th>
                        <th ix3-order-field-names="puesto" style="width:   40%;text-align: center">Puesto</th>
                        <th ix3-order-field-names="empresa.nombreComercial" style="width:   20%;text-align: center">Empresa</th>
                        <th ix3-order-field-names="familia.descripcion" style="width:   30%;text-align: center">Familia</th>
                        <th ix3-order-field-names="fecha" style="width:   30%;text-align: center">Fecha</th>
                        <th style="min-width: 140px; width: 140px;text-align: center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="model in models" class="data-table__row">
                        <td style="text-align: center"><a href ng-click="buttonView(model.idOferta)">{{model.idOferta}}</a></td>
                        <td ><a href ng-click="buttonView(model.idOferta)">{{model.puesto}}</a></td>
                        <td >{{model.empresa.nombreComercial}}</td>
                        <td >{{model.familia.descripcion}}</td>
                        <td >{{model.fecha| date: 'dd/MM/yyyy'}}</td>
                        <td >
                            <button class="btn btn-xs form__button form__button--danger" type="button" ng-click="buttonDelete(model.idOferta)">Borrar</button>
                            <button class="btn btn-xs form__button form__button--default" type="button" ng-click="buttonEdit(model.idOferta)">Editar</button>
                            <button class="btn btn-xs form__button form__button--default" type="button" ng-click="buttonNotificar(model.idOferta)" title="Notificar a titulados de la oferta y a la empresa de los candidatos"><i class="fa fa-envelope"></i></button>
                        </td>                             
                    </tr>
                </tbody>
            </table> 

            <div class="row">
                <div class="col-sm-12">
                    <ix3-pagination></ix3-pagination>
                </div>
            </div>  
            <button type="button" class="btn form__button form__button--primary" ng-click="buttonNew()">Nueva Oferta</button>
        </div>
    </div>
</div>