<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>net.bull.javamelody.SessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>es.logongas.ix3.web.hibernate.HibernateContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:ix3core.xml
            classpath:ix3rule.xml
            classpath:ix3dao.xml
            classpath:ix3security.xml
            classpath:ix3securityimpl.xml
            classpath:ix3service.xml
            classpath:ix3businessprocess.xml
            classpath:ix3web.xml
            classpath:applicationContext.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>databasemigration.location</param-name>
        <param-value>
            es.logongas.fpempresa.database
            es.logongas.ix3.security.database
        </param-value>
    </context-param>
    <listener>
        <listener-class>es.logongas.ix3.web.database.DatabaseMigrateContextListener</listener-class>
    </listener>
    

    <filter>
        <filter-name>filterImplSecurityHeaders</filter-name>
        <filter-class>es.logongas.fpempresa.presentacion.filter.FilterImplSecurityHeaders</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterImplSecurityHeaders</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>filterImplSecurity</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterImplSecurity</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>monitoring</filter-name>
        <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
        <init-param>
            <!-- set a different URL for monitoring -->
            <param-name>monitoring-path</param-name>
            <param-value>/api/administrador/monitoring</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>monitoring</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <context-param>
        <param-name>javamelody.logger-class</param-name>
        <param-value>net.bull.javamelody.internal.common.Log4J2Logger</param-value>
    </context-param>
    
    <error-page>
        <location>/error-pages/generic-error.jsp</location>
    </error-page>    
</web-app>
