<div class="row">
    <div class="col-sm-12 form__container" >
        <div>
            <legend class="form__title">Empresas</legend>
            <ix3-business-messages></ix3-business-messages>
            <table class="table table-bordered">
                <thead>                        
                    <tr class="data-table__head">
                        <th style="width:   40%;text-align: center">Nombre Comercial</th>
                        <th style="width:   20%;text-align: center">CIF</th>
                        <th style="width:   30%;text-align: center">Municipio</th>
                        <th style="min-width: 120px; width: 120px;text-align: center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="empresa in models" class="data-table__row">
                        <td >{{empresa.nombreComercial}}</td>
                        <td >{{empresa.cif}}</td>
                        <td >{{empresa.direccion.municipio.descripcion}}</td>                   
                        <td >
                            <button class="btn btn-xs form__button form__button--danger" type="button" ng-click="buttonDelete(empresa.idEmpresa)">Borrar</button>
                            <button class="btn btn-xs form__button form__button--default" type="button" ng-click="buttonEdit(empresa.idEmpresa)">Editar</button>
                        </td>                             
                    </tr>
                </tbody>
            </table> 
            <div class="row">
                <div class="col-sm-12">
                    <ix3-pagination></ix3-pagination>
                </div>
            </div>            
            <button type="button" class="btn form__button form__button--primary" ng-click="buttonNew()">Nueva Empresa</button>
        </div>
    </div>
</div>