<div class="container main-container">
    <div class="row" style="padding-top:20px;padding-bottom:20px;">
        <div class="col-md-12">
            <section ng-controller="ForbiddenController"  class="container-fluid form__page" style="padding-top:20px;padding-bottom:20px;" >
                <div class="row"  >    
                    <div class="col-xs-12 form--center"  >
                        <h3 class="form__main-title" >&nbsp;&nbsp;Prohibido&nbsp;&nbsp;</h3>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
