<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
">

    <!--Permite usar entre otras la anotación @Autowired -->
    <context:annotation-config/>
        
    <!-- DAOs -->
    <bean class="es.logongas.ix3.dao.impl.DAOFactoryImplHibernate" >
        <property name="domainBasePackageName"     value="es.logongas.fpempresa.modelo" />
        <property name="interfaceBasePackageName"  value="es.logongas.fpempresa.dao" />
        <property name="implBasePackageName"       value="es.logongas.fpempresa.dao" />
    </bean>    
    <bean class="es.logongas.fpempresa.dao.estadisticas.impl.EstadisticaDAOImplHibernate"  />
    <bean class="es.logongas.fpempresa.dao.centro.impl.CertificadoDAOImplHibernate"  />

    <!-- Seguridad -->
    <bean id="authenticationManager" class="es.logongas.ix3.security.authentication.impl.AuthenticationManagerImpl"  >
        <property name="authenticationProviders">
            <list>
                <bean class="es.logongas.fpempresa.security.AuthenticationProviderImplUsuario" />
            </list>
        </property>
    </bean>
    
    <bean id="authorizationManager" class="es.logongas.ix3.security.authorization.impl.AuthorizationManagerImpl"  >
        <property name="defaultAuthorization" value="false" />
        <property name="authorizationProviders">
            <list>
                <bean class="es.logongas.ix3.security.authorization.impl.AuthorizationProviderImplIdentity" />
            </list>
        </property>
    </bean>  
    
    <!-- 
        <bean class="es.logongas.ix3.web.security.impl.WebSessionSidStorageImplHttpSession"  />    
    --> 
    <bean class="es.logongas.fpempresa.security.WebSessionSidStorageImplJwt" >
        <property name="jwsCookieName" value="XSRF-TOKEN" />
        <property name="jwsHeaderName" value="X-XSRF-TOKEN" />
        <property name="checkHeader"   value="false" />        
    </bean>
    
    <!-- Servicios -->
    <bean class="es.logongas.fpempresa.service.report.impl.ReportServiceImplJasper"  />
    <bean class="es.logongas.fpempresa.service.mail.impl.MailServiceImplAWS"  />
    <bean class="es.logongas.fpempresa.service.notification.impl.ExceptionNotifyImpl"  />    
    <bean class="es.logongas.fpempresa.service.notification.impl.NotificationImpl"  />    
    <bean class="es.logongas.fpempresa.service.estadisticas.impl.EstadisticasServiceImpl"  />
    <bean class="es.logongas.fpempresa.service.download.impl.DownloadServiceImpl"  />
    <bean class="es.logongas.fpempresa.service.centro.impl.CertificadoServiceImpl"  />
    <bean class="es.logongas.fpempresa.service.hojacalculo.impl.HojaCalculoServiceImplPOI"  />
    <bean class="es.logongas.fpempresa.service.populate.PopulateServiceImpl"  />
    <bean class="es.logongas.ix3.service.impl.CRUDServiceFactoryImpl" >
        <property name="domainBasePackageName"     value="es.logongas.fpempresa.modelo" />
        <property name="interfaceBasePackageName"  value="es.logongas.fpempresa.service" />
        <property name="implBasePackageName"       value="es.logongas.fpempresa.service" />
    </bean> 
    
    <!-- BusinessProcess -->
    <bean class="es.logongas.fpempresa.businessprocess.download.impl.DownloadBusinessProcessImpl"  />
    <bean class="es.logongas.fpempresa.businessprocess.centro.impl.CertificadoBusinessProcessImpl"  />
    <bean class="es.logongas.fpempresa.businessprocess.estadisticas.impl.EstadisticasBusinessProcessImpl"  />
    <bean class="es.logongas.fpempresa.businessprocess.log.impl.LogBusinessProcessImpl"  />

    <bean class="es.logongas.ix3.businessprocess.impl.CRUDBusinessProcessFactoryImpl" >
        <property name="domainBasePackageName"     value="es.logongas.fpempresa.modelo" />
        <property name="interfaceBasePackageName"  value="es.logongas.fpempresa.businessprocess" />
        <property name="implBasePackageName"       value="es.logongas.fpempresa.businessprocess" />
    </bean>   
    
    <!-- Capade web -->
    <bean class="es.logongas.fpempresa.presentacion.controller.EndPointsFactoryImpl" />
    
</beans>
