<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
    <Appenders>
        <Console name="Consola" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="Fichero" fileName="${sys:catalina.base}/logs/fpempresa.log" filePattern="${sys:catalina.base}/logs/fpempresa.%d{yyyy-w}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="FicheroSeguridad" fileName="${sys:catalina.base}/logs/fpempresa_security.log" filePattern="${sys:catalina.base}/logs/fpempresa_security.%d{yyyy-w}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %MAP{message} %throwable{short.localizedMessage}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>     
        </RollingFile> 
        <RollingFile name="FicheroExcepciones" fileName="${sys:catalina.base}/logs/fpempresa_exceptions.log" filePattern="${sys:catalina.base}/logs/fpempresa_exceptions.%d{yyyy-w}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %MAP{message}%n%MAP{Method} %MAP{RequestURI} %MAP{QueryString}%n%throwable%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>     
        </RollingFile> 
        <RollingFile name="FicheroMail" fileName="${sys:catalina.base}/logs/fpempresa_mails.log" filePattern="${sys:catalina.base}/logs/fpempresa_mails.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>     
        </RollingFile>         
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="Consola"/>
            <AppenderRef ref="Fichero"/>
        </Root>
        <Logger name="es.logongas" level="WARN" additivity="false">
            <AppenderRef ref="Consola"/>
            <AppenderRef ref="Fichero"/>      
        </Logger>    
        <Logger name="org.hibernate.SQL" level="WARN" additivity="false">
            <AppenderRef ref="Consola"/>
            <AppenderRef ref="Fichero"/>      
        </Logger>           
        <Logger name="org.hibernate.hql.internal.ast.HqlSqlWalker" level="WARN" additivity="false">
            <RegexFilter regex=".*\[DEPRECATION\].*" onMatch="DENY" onMismatch="NEUTRAL"/>
            <AppenderRef ref="Consola"/>
            <AppenderRef ref="Fichero"/> 
        </Logger> 
        <Logger name="java.lang.Exception" level="WARN" additivity="false">
            <AppenderRef ref="Consola"/>
            <AppenderRef ref="FicheroExcepciones"/>      
        </Logger> 
        <Logger name="es.logongas.fpempresa.service.mail.Mail" level="INFO" additivity="false">
            <AppenderRef ref="Consola"/>
            <AppenderRef ref="FicheroMail"/>      
        </Logger> 
        <Logger name="es.logongas.ix3.security.authorization.BusinessSecurityException" level="WARN" additivity="false">
            <AppenderRef ref="Consola"/>
            <AppenderRef ref="FicheroSeguridad"/>      
        </Logger>         
    </Loggers>
</Configuration>