<div class="row">
    <div class="col-sm-12 formulario-neutro" >
        <div>
            <ix3-business-messages></ix3-business-messages>
            <form name="mainForm" class="form-horizontal" id="mainForm" >
                <fieldset>
                    <legend>Formaci&oacute;n Academica</legend>
                    <div class="form-group">
                        <label for="model.tipoFormacionAcademica" class="col-sm-3  control-label" ix3-label ></label>
                        <div class="col-sm-3">
                            <select ng-model="model.tipoFormacionAcademica" id="model.tipoFormacionAcademica" name="model.tipoFormacionAcademica" class="form-control" ix3-options  required>
                                <option value="">-- Elige Opcion --</option>
                            </select>
                        </div>
                    </div> 
                    <div ng-show="model.tipoFormacionAcademica === 'CICLO_FORMATIVO'" class="form-group">
                        <label for="model.centro" class="col-sm-3  control-label" ix3-label ></label>
                        <div class="col-sm-7">
                            <select ng-model="model.centro" id="model.centro" name="model.centro" class="form-control" ix3-options  >
                                <option value="">-- Elige Opcion --</option>
                            </select>
                        </div>
                    </div> 
                    <div ng-show="model.tipoFormacionAcademica === 'TITULO_UNIVERSITARIO' || model.tipoFormacionAcademica === 'OTRO_TITULO' || model.centro.idCentro === -1" class="form-group">
                        <label for="model.otroCentro" class="col-sm-3  control-label" ix3-label ></label>
                        <div  class="col-sm-7">
                            <input ng-model="model.otroCentro" id="model.otroCentro" name="model.otroCentro" class="form-control" type="text"    />
                        </div>  
                    </div>
                    <div  ng-show="model.tipoFormacionAcademica === 'TITULO_UNIVERSITARIO' || model.tipoFormacionAcademica === 'OTRO_TITULO'" class="form-group">
                        <label for="model.otroTitulo" class="col-sm-3  control-label" ix3-label ></label>
                        <div class="col-sm-7">
                            <input ng-model="model.otroTitulo" id="model.otroTitulo" name="model.otroTitulo" class="form-control" type="text"    />
                        </div>
                    </div> 
                    <div ng-show="model.tipoFormacionAcademica === 'CICLO_FORMATIVO'" model="familia" class="form-group">
                        <label for="model.familia" class="col-sm-3  control-label" ix3-label ></label>
                        <div class="col-sm-7">
                            <select ng-model="model.familia" id="model.familia" name="model.familia" class="form-control" ix3-options  >
                                <option value="">-- Elige Opcion --</option>
                            </select>
                        </div>
                    </div>                     
                    <div ng-show="model.tipoFormacionAcademica === 'CICLO_FORMATIVO'" class="form-group">
                        <label for="model.ciclo" class="col-sm-3  control-label" ix3-label ></label>
                        <div class="col-sm-7">
                            <select ng-model="model.ciclo" id="model.ciclo" name="model.ciclo" class="form-control" ix3-options  >
                                <option value="">-- Elige Opcion --</option>
                            </select>
                        </div>
                    </div> 


                </fieldset>
            </form>
            <button type="button" ng-class="{'btn-standard':controllerAction !== 'DELETE','btn-danger':controllerAction === 'DELETE'}" class="btn" ng-click="buttonOK()">{{labelButtonOK}}</button>


        </div>
    </div>
</div>
