
<div class="row">
    <div class="col-sm-12 formulario-neutro" >
        <div>
            <h3 >Formaci&oacute;n Academica</h3>
            <hr>
            <ix3-business-messages></ix3-business-messages>
            <table class="table table-bordered">
                <thead>                        
                    <tr>
                        <th style="min-width:140px;text-align: center">Nivel</th>
                        <th style="width:      50%;text-align: center">Titulo</th>
                        <th style="width:      35%;text-align: center">Centro</th>
                        <th style="min-width:120px;text-align: center" >Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="formacionAcademica in models">
                        <td >{{getTipoTitulo(formacionAcademica)}}</td>
                        <td >{{getNombreTitulo(formacionAcademica)}}</td>
                        <td >{{getNombreCentro(formacionAcademica)}}</td>
                        <td >
                            <button class="btn btn-danger btn-xs" type="button" ng-click="buttonDelete(formacionAcademica.idFormacionAcademica)">Borrar</button>
                            <button class="btn btn-standard btn-xs" type="button" ng-click="buttonEdit(formacionAcademica.idFormacionAcademica)">Editar</button>
                        </td>                             
                    </tr>
                </tbody>
            </table> 
            <button  class="btn btn-standard"   ng-click="buttonNew()" >Nueva Formaci&oacute;n Academica</button>
        </div>
    </div>
</div>

