<nav class="navbar navbar-custom top-nav-collapse" role="navigation" ng-controller="HeaderController" >
    <div class="container-fluid" >
        <div class="navbar-header">
            <button id="buttonMenuHeader" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{getContextPath()}}/site/index.html">
                <img src="../img/logos/empleafp.png"  alt="logo"  >&nbsp;
            </a>
            <a class="navbar-brand" href="https://www.dualizabankia.com">
                <img src="../img/logos/dualiza.png"  alt="logo dualiza"  >&nbsp;
            </a>              
        </div>


        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">

                <li class="hidden">
                    <a href="{{getContextPath()}}/site/index.html" data-toggle="collapse" data-target=".navbar-collapse"></a>
                </li>
                <li class="hidden-xs">
                    <a href ng-click="soporte()" data-toggle="collapse" data-target=".navbar-collapse">Soporte</a>
                </li>                
                <li>
                    <a href ng-click="logout()" data-toggle="collapse" data-target=".navbar-collapse">Cerrar sesi&oacute;n</a>
                </li>
                <li class="hidden-md hidden-lg hidden-sm menu-hamburger">
                    <div class="menu-hamburger__header">Gestiona tu bolsa</div>
                    <ul>
                        <li class="menu-hamburger__item" ><a class="menu-hamburger__link" data-toggle="collapse" data-target=".navbar-collapse" ng-href="{{getUrlIfTitulado('#/curriculum/titulado/edit/'+user.titulado.idTitulado)}}">Datos personales</a></li>
                        <li class="menu-hamburger__item" ><a class="menu-hamburger__link" data-toggle="collapse" data-target=".navbar-collapse" ng-href="{{getUrlIfTitulado('#/curriculum/formacionacademica/search/titulado.idTitulado/'+user.titulado.idTitulado)}}">Formaci&oacute;n académica</a></li>
                        <li class="menu-hamburger__item" ><a class="menu-hamburger__link" data-toggle="collapse" data-target=".navbar-collapse" ng-href="{{getUrlIfTitulado('#/curriculum/experiencialaboral/search/titulado.idTitulado/'+user.titulado.idTitulado)}}">Experiencia laboral</a></li>
                        <li class="menu-hamburger__item" ><a class="menu-hamburger__link" data-toggle="collapse" data-target=".navbar-collapse" ng-href="{{getUrlIfTitulado('#/curriculum/tituloidioma/search/titulado.idTitulado/'+user.titulado.idTitulado)}}">Idiomas</a></li>
                        <li class="menu-hamburger__item" ><a class="menu-hamburger__link" data-toggle="collapse" data-target=".navbar-collapse" ng-href="{{getUrlIfTitulado('#/oferta/search_todas')}}">Todas las ofertas</a></li>
                        <li class="menu-hamburger__item" ><a class="menu-hamburger__link" data-toggle="collapse" data-target=".navbar-collapse" ng-href="{{getUrlIfTitulado('#/oferta/search_inscrito')}}">Ofertas inscritas</a></li>
                        <li class="menu-hamburger__item" ><a class="menu-hamburger__link" data-toggle="collapse" data-target=".navbar-collapse" ng-href="{{getUrlIfTitulado('#/usuario/edit/'+user.idIdentity)}}">Mis datos</a></li>
                        <li class="menu-hamburger__item" ><a class="menu-hamburger__link" data-toggle="collapse" data-target=".navbar-collapse" ng-href="{{getUrlIfTitulado('#/configuracion')}}">Configuraci&oacute;n</a></li>
                        <li class="menu-hamburger__item" ><a class="menu-hamburger__link" data-toggle="collapse" data-target=".navbar-collapse" href ng-click="cambiarContrasenya()">Cambiar mi contrase&ntilde;a</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>     
</nav>
