<section class="c-section" ng-controller="CreateAccountEndController"   >
    <div class="c-section__content  g--padding-vertical-13 g--padding-vertical-15@tablet">

        
        <form class="c-form g--center" style="width: 100%; max-width:500px" novalidate>
            <h1 class="c-title  c-title--left g--margin-bottom-7">
                <span class="c-title__pre">Tu nueva cuenta</span>
                Se ha creado
            </h1>


            <p class="c-text"  ng-if="model.tipoUsuario === 'TITULADO'">Tu cuenta de EmpleaFP como Titulado o Titulada ya est&aacute; creada</p>
            <p class="c-text"  ng-if="model.tipoUsuario === 'EMPRESA'">Tu cuenta de EmpleaFP como Empresa ya est&aacute; creada</p>
            <p class="c-text"  ng-if="model.tipoUsuario === 'CENTRO'">Tu cuenta de EmpleaFP como Centro Educativo ya est&aacute; creada</p>
            
            <p class="c-text" >Te acabamos de enviar un correo electrónico con instrucciones para validar tu dirección de correo.</p>
            <p class="c-text" >Si no lo recibes, comprueba que no esté en la carpeta de spam y si no es así ponte en contacto con nosotros.</p>
            
            
            <div class="c-form__buttons">

            <button type="button" class="c-button c-button--primary" ng-click="login()" >Inicia sesi&oacute;n</button>
    
            </div>
                                        

        </form>
        
    </div>
</section>



