@import "../private/variables.less";

.jumbotron {
    color: #FFFFFF;
    text-align: center;
    background-color: transparent;
}

.marketing {
    padding: 0px;
}

.marketing .col-md-4 {
    text-align: center;
    margin-bottom: 20px;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-md-4 p {
    margin-left: 10px;
    margin-right: 10px;
}  	

.ayuda {
    h1 {
        color:#525552;
    }
    
    p {
        color:#9C9A9C
    }
}

.soft-formulario {
    > div {
        border: 1px solid #E7E7E7;
        background: #F7F7F7;
        padding: 15px
    }
    
    h3 {
        color:#525552        
    }
}