@import "private/expose.less";
@import "private/intro.less";

@import "../shared/shared.less";



body {
    width: 100%;
    height: 100%;
    margin:0; 
    padding:0; 
    border:0;    
}

html {
    width: 100%;
    height: 100%;
}
.container-fluid {
    padding-left:15px;
    padding-right:15px;
}
