<div class="row">
    <div class="col-sm-12 form__container" >
        <div>
            <legend class="form__title">Titulados</legend>
            <ix3-business-messages style="overflow-y: scroll; overflow-x: hidden; max-height: 600px"></ix3-business-messages>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info" role="alert">Debido a la entrada el vigor de la Reglamento General de Protección de Datos no es posible ver los datos individuales de los titulados</div>
            </div>
        </div>
        <div class="row" >
            <div class="col-xs-12 ">





                <table class="table table-bordered">
                    <thead>                        
                        <tr class="data-table__head">
                            <th  style="text-align: center">Familia (Titulados / Titulos)</th>
                            <th  style="text-align: center">Ciclo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="familia in centro.estadisticas.tituladosPorFamilia" class="data-table__row">
                            <td >
                                {{familia.descripcion}}: (<span title="N&ordm; de Titulados" >{{familia.valor}}</span>&nbsp;/&nbsp;<span title="N&ordm; de T&iacute;tulos" >{{familia.tituladosPorCiclo| map:'valor' | sum}}</span>)
                            </td>
                            <td >
                                <p ng-repeat="ciclo in familia.tituladosPorCiclo">
                                    {{ciclo.descripcion}}: {{ciclo.valor}}
                                </p>
                            </td>                          
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="data-table__row__foot">
                          <td>Totales</td>
                          <td>
                            Titulados:  <span title="N&ordm; de Titulados" >{{centro.estadisticas.numeroTitulados}}</span> 
                            <br>
                            Titulos:  <span title="N&ordm; de T&iacute;tulos" >{{centro.estadisticas.tituladosPorFamilia| map :'tituladosPorCiclo' | flatten | map: 'valor' | sum}}</span>
                          </td>
                        </tr>
                    </tfoot>
                </table>                        



            </div>
        </div>  
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12">            
                <div class="panel panel-info">
                  <div class="panel-heading">Importación de titulados desde fichero json</div>
                  <div class="panel-body">
                        <fpe-file-upload text="Selecionar archivo..." url="{{apiUrl + '/../titulado/importar-csv'}}" fail="failImportJson(data)" success="updateList(event,data)"></fpe-file-upload>
                        <a ng-click="mostrarCodigosMunicipio()" style="cursor: pointer"><i class="fa fa-question-circle"></i> Ayuda</a>
                  </div>
                </div>                
            </div>

        </div>
    </div>
</div>
