
<div class="row">
    <div class="col-xs-12 form__container" >
        <div>
            <ix3-business-messages></ix3-business-messages>
            <form class="form-horizontal" name="mainForm" id="mainForm"  ix3-form>
                <fieldset>
                    <legend class="form__title"><img ng-show="model.certificadoTitulo" title="El centro donde has estudiado ha certificado que tienes el t&iacute;tulo" src="{{getContextPath()}}/img/award/award-32x32.png">&nbsp;Formaci&oacute;n academica</legend>
                    <div class="form-group">
                        <label for="model.tipoFormacionAcademica" class="col-sm-3  control-label" ix3-label ></label>
                        <div class="col-sm-3">
                            <select ng-model="model.tipoFormacionAcademica" id="model.tipoFormacionAcademica" name="model.tipoFormacionAcademica" class="form-control" ix3-options  required>
                                <option value="">-- Elige Opcion --</option>
                            </select>
                        </div>
                    </div> 
                    <div ng-show="model.tipoFormacionAcademica === 'CICLO_FORMATIVO'" class="form-group">
                        <label for="model.centro" class="col-sm-3  control-label" ix3-label ></label>
                        <div class="col-sm-7">
                            <select ng-model="model.centro" id="model.centro" name="model.centro" class="form-control" ix3-options  >
                                <option value="">-- Elige Opcion --</option>
                            </select>
                        </div>
                    </div> 
                    <div ng-show="model.tipoFormacionAcademica === 'TITULO_UNIVERSITARIO' || model.tipoFormacionAcademica === 'OTRO_TITULO' || model.centro.idCentro === -1" class="form-group">
                        <label for="model.otroCentro" class="col-sm-3  control-label" ix3-label ></label>
                        <div  class="col-sm-7">
                            <input ng-model="model.otroCentro" id="model.otroCentro" name="model.otroCentro" class="form-control" type="text"    />
                        </div>  
                    </div>
                    <div  ng-show="model.tipoFormacionAcademica === 'TITULO_UNIVERSITARIO' || model.tipoFormacionAcademica === 'OTRO_TITULO'" class="form-group">
                        <label for="model.otroTitulo" class="col-sm-3  control-label" ix3-label ></label>
                        <div class="col-sm-7">
                            <input ng-model="model.otroTitulo" id="model.otroTitulo" name="model.otroTitulo" class="form-control" type="text"    />
                        </div>
                    </div> 
                    <div ng-show="model.tipoFormacionAcademica === 'CICLO_FORMATIVO'" class="form-group">
                        <label for="model.ciclo.familia" class="col-sm-3  control-label" ix3-label ></label>
                        <div class="col-sm-7">
                            <select ng-model="model.ciclo.familia" id="model.ciclo.familia" name="model.ciclo.familia" class="form-control" ix3-options="orderBy:'descripcion'"  >
                                <option value="">-- Elige Opcion --</option>
                            </select>
                        </div>
                    </div>    
                    <div ng-show="model.tipoFormacionAcademica === 'CICLO_FORMATIVO'" class="form-group">
                        <label for="model.ciclo.grado" class="col-sm-3  control-label" ix3-label ></label>
                        <div class="col-sm-7">
                            <select ng-model="model.ciclo.grado" id="model.ciclo.grado" name="model.ciclo.grado" class="form-control" ix3-options="removeWith:{ idGrado: 1 }"  >
                                <option value="">-- Todos --</option>
                            </select>
                        </div>
                    </div>                     
                    
                    <div ng-show="model.tipoFormacionAcademica === 'CICLO_FORMATIVO'" class="form-group">
                        <label for="model.ciclo" class="col-sm-3  control-label" ix3-label ></label>
                        <div class="col-sm-7">
                            <select ng-model="model.ciclo" id="model.ciclo" name="model.ciclo" class="form-control" ix3-options=" orderBy:'descripcion'" ix3-options-depend="{familia:model.ciclo.familia,grado:model.ciclo.grado}" ix3-options-default="{grado:[2,3]}" >
                                <option value="">-- Elige Opcion --</option>
                            </select>
                        </div>
                    </div> 
                    <div ng-show="model.tipoFormacionAcademica"  class="form-group">
                        <label for="model.fecha" class="col-sm-3  control-label" ix3-label ></label>
                        <div  class="input-group col-sm-3">
                            <input ng-model="model.fecha" id="model.fecha" name="model.fecha" class="form-control" type="text"  ix3-date ix3-datepicker required />
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>  
                        <div  class="col-sm-3"></div>
                    </div>  
                    <div ng-show="model.tipoFormacionAcademica === 'CICLO_FORMATIVO'"  class="form-group">
                        <div  class="input-group col-sm-3 col-sm-offset-3">
                            <input ng-model="model.formacionDual" id="model.formacionDual" name="model.formacionDual" type="checkbox"   />
                            <span class="" ix3-label for="model.formacionDual"></span>
                        </div>  
                        <div  class="col-sm-3"></div>
                    </div>  
                    <br>                  
                    <div class="row" >
                        <div class="col-xs-12 ">
                            <br>
                            <crud-detail-buttons class="pull-right"></crud-detail-buttons>
                        </div>
                    </div>                    
                </fieldset>
            </form>
        </div>
    </div>
</div>
                    
