<div class="row">
    <div class="col-sm-12 form__container" >
        <div>
            <legend class="form__title">Formaci&oacute;n academica</legend>
            <ix3-business-messages></ix3-business-messages>
            <table class="table table-bordered">
                <thead>                        
                    <tr class="data-table__head">
                        <th style="min-width:140px;text-align: center">Nivel</th>
                        <th style="width:      50%;text-align: center">Titulo</th>
                        <th style="width:      35%;text-align: center">Centro</th>
                        <th style="min-width:120px;text-align: center" >Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="formacionAcademica in models" class="data-table__row">
                        <td >{{formacionAcademica.getTipoFormacionAcademicaDescription()}}</td>
                        <td >{{formacionAcademica.getNombreTitulo()}}</td>
                        <td >{{formacionAcademica.getNombreCentro()}}</td>
                        <td >
                            <button class="btn btn-xs form__button form__button--danger" type="button" ng-click="buttonDelete(formacionAcademica.idFormacionAcademica)">Borrar</button>
                            <button class="btn btn-xs form__button form__button--default" type="button" ng-click="buttonEdit(formacionAcademica.idFormacionAcademica)">Editar</button>
                        </td>                             
                    </tr>
                </tbody>
            </table> 
            <button type="button" class="btn form__button form__button--primary" ng-click="buttonNew()">Nueva Formaci&oacute;n Academica</button>
        </div>
    </div>
</div>
