<div class=" form__page form__page--no-padding container">
    <br>
    <br>
    <div class="row">
        <div class="col-xs-12 col-sm-2">
            <div class="text-center">
            <img class="img-circle" width="120px" ng-src="{{ix3Configuration.server.api}}/Usuario/{{user.idIdentity}}/foto?q={{fotoIndex}}" alt="Foto usuario">
            <fpe-file-upload text="Selecciona foto..." url="{{ix3Configuration.server.api}}/Usuario/{{user.idIdentity}}/foto" success="updateFoto()" fail="failUpdateFoto()"></fpe-file-upload>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10 form--center">
            <h3 class="form__main-title">Bienvenido, {{user.name}}</h3>
            <p class="form__text form__text--help">
                Desde aqui podr&aacute;s modificar tu curriculum, buscar empleo y configurar tu cuenta
            </p>          
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-2" style="padding-right: 0px!important;">
            <ul class="lateral-menu__menu">
                <li class="lateral-menu__header">Mi curriculum</li>
                <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('$/^')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('$/^')}" class="lateral-menu__item__link" href="#/">Resumen</a></li>
                <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/curriculum/titulado/.*')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/curriculum/titulado/.*')}"  class="lateral-menu__item__link" href="#/curriculum/titulado/edit/{{user.titulado.idTitulado}}">Datos personales</a></li>
                <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/curriculum/formacionacademica/.*')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/curriculum/formacionacademica/.*')}"  class="lateral-menu__item__link" href="#/curriculum/formacionacademica/search/titulado.idTitulado/{{user.titulado.idTitulado}}">Formaci&oacute;n académica</a></li>
                <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/curriculum/experiencialaboral/.*')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/curriculum/experiencialaboral/.*')}"  class="lateral-menu__item__link" href="#/curriculum/experiencialaboral/search/titulado.idTitulado/{{user.titulado.idTitulado}}">Experiencia laboral</a></li>
                <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/curriculum/tituloidioma/.*')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/curriculum/tituloidioma/.*')}"  class="lateral-menu__item__link" href="#/curriculum/tituloidioma/search/titulado.idTitulado/{{user.titulado.idTitulado}}">Idiomas</a></li>
            </ul>
            <br>
            <ul class="lateral-menu__menu">
                <li class="lateral-menu__header">Empleo</li>
                <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/oferta/.*_todas')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/oferta/.*_todas')}"  class="lateral-menu__item__link" href="#/oferta/search_todas">Todas las ofertas</a></li>
                <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/oferta/.*_inscrito')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/oferta/.*_inscrito')}"  class="lateral-menu__item__link" href="#/oferta/search_inscrito">Ofertas inscritas</a></li>
            </ul>
            <br>
            <ul class="lateral-menu__menu">
                <li class="lateral-menu__header">Cuenta</li>
                <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('^/usuario/edit/' + user.idIdentity + '$')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('^/usuario/edit/' + user.idIdentity + '$')}"  class="lateral-menu__item__link" href="#/usuario/edit/{{user.idIdentity}}">Mis datos</a></li>
                <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('^/configuracion$')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('^/configuracion$')}"  class="lateral-menu__item__link" href="#/configuracion">Configuraci&oacute;n</a></li>
                <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected()}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected()}"  class="lateral-menu__item__link" href ng-click="cambiarContrasenya()">Cambiar mi contrase&ntilde;a</a></li>
                <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected()}"><a class="lateral-menu__item__link" href="{{apiUrl + '../manuales/manual_alumno.pdf'}}"><i class="fa fa-question-circle"></i>  Ayuda</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-10">
            <div ui-view></div>                     
        </div>
    </div>
    <br>
    <br>
</div>
