    <div class=" form__page form__page--no-padding container">
        <br>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <img class="img-circle" src="../img/photo_user.png" alt="User Pic">
            </div> 
            <div class="col-xs-12 col-sm-10 form--center">
                <h3 class="form__main-title">Bienvenido, {{user.name}}</h3>
                <br>
                <br>
                <h4 class="form__title" ng-show="user.centro!==null">Estas en el "{{user.centro.toString()}}"</h4>  
                <br>
                <br>
                <br>
                <p class="form__text form__text--help">
                    Desde aqui podr&aacute;s gestionar la bolsa de trabajo de tu centro
                </p>          
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-2" style="padding-right: 0px!important;">
                <ul class="lateral-menu__menu">
                    <li class="lateral-menu__header">Centro</li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/centro/[a-zA-Z]+')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/centro/[a-zA-Z]+')}"  class="lateral-menu__item__link" href="#/centro/edit/{{user.centro.idCentro}}">Mi centro</a></li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/titulado/[a-zA-Z]+')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/titulado/[a-zA-Z]+')}"  class="lateral-menu__item__link" href="#/titulado/search">Mis Titulados</a></li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/profesor/[a-zA-Z]+')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/profesor/[a-zA-Z]+')}"  class="lateral-menu__item__link" href="#/profesor/search">Mis Profesores</a></li>
                </ul>
                <br>
                <ul class="lateral-menu__menu">
                    <li class="lateral-menu__header">Empleo</li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/empresa/[a-zA-Z]+')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/empresa/[a-zA-Z]+')}"  class="lateral-menu__item__link" href="#/empresa/search">Mis Empresas</a></li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/oferta/[a-zA-Z]+')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/oferta/[a-zA-Z]+')}"  class="lateral-menu__item__link" href="#/oferta/search">Mis Ofertas</a></li>
                </ul>
                <br>
                <ul class="lateral-menu__menu">
                    <li class="lateral-menu__header">Cuenta</li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected()}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected()}"  class="lateral-menu__item__link" href="#">Configuraci&oacute;n</a></li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected()}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected()}"  class="lateral-menu__item__link" href ng-click="cambiarContrasenya()">Cambiar contrase&ntilde;a</a></li>
                    <li class="lateral-menu__item" ng-class="{'lateral-menu__item--selected':isItemSelected('/pertenenciacentro')}" ><a ng-class="{'lateral-menu__item__link--selected':isItemSelected('/pertenenciacentro')}"  class="lateral-menu__item__link" href="#/pertenenciacentro" >Cambiar de centro</a></li>
                    
                </ul>
            </div>
            <div class="col-xs-12 col-sm-10">
                <div ui-view></div>                     
            </div>
        </div>
        <br>
        <br>
    </div>
