<div class="container fpempresa-container" style="padding-top:20px;padding-bottom:20px;">

    <div ng-if="state.step === 0">
        <div class="col-md-3 col-md-offset-2" >
            <br>
            <img ng-src="{{getContextPath()}}/img/registro.png" alt="registro">
        </div>
        <div class="col-md-3" >
            <h3 style="color:#525552">Tipo de usuario</h3>
            <p style="color:#9C9A9C">Debes elegir el tipo de usuario que eres. Segun tu elecci&oacute;n podr&aacute;s acceder a unos servicio u otros de FPempresa</p>
        </div> 
        <div class="col-md-4">
            <div style="border: 1px solid #E7E7E7;background: #F7F7F7; padding: 15px ">
                <h3>&iquest;Quien eres?</h3>
                <div class="radio">
                    <label>
                        <input ng-model="state.tipoUsuario" type="radio" name="opciones"  value="TITULADO">
                        Un titulado de formacion profesional que busca empleo
                    </label>
                </div>
                <br>
                <div class="radio">
                    <label>
                        <input ng-model="state.tipoUsuario" type="radio" name="opciones" value="EMPRESA">
                        Una empresa que busca profesionales
                    </label>
                </div>
                <br>
                <div class="radio">
                    <label>
                        <input ng-model="state.tipoUsuario" type="radio" name="opciones" value="CENTRO">
                        Un centro educativo que quiere tener su bolsa de trabajo
                    </label>
                </div>                       
                <div style="margin-top:20px" class="form-group">
                    <button type="button" class="btn btn-standard" ng-click="next()" >Siguiente</button>
                </div>

            </div>
        </div>        
    </div>
    <div class="row" ng-if="state.step === 1">

        <div class="col-md-3 col-md-offset-2" >
            <br>
            <img ng-src="{{getContextPath()}}/img/registro.png" alt="registro">
        </div>
        <div class="col-md-3" >
            <h3 style="color:#525552">Registro</h3>
            <p style="color:#9C9A9C" ng-if="state.tipoUsuario === 'TITULADO'">Ahora necesitamos los datos minimos para crear tu cuenta, mas adelante podrás introducir tu curriculum</p>
            <p style="color:#9C9A9C" ng-if="state.tipoUsuario === 'EMPRESA'">Ahora necesitamos los datos minimos para crear tu cuenta, mas adelante podrás indicar los datos de la empresa</p>
            <p style="color:#9C9A9C" ng-if="state.tipoUsuario === 'CENTRO'">Ahora necesitamos los datos minimos para crear tu cuenta, mas adelante podrás crear tu bolsa de trabajo</p>
        </div>
        <div class="col-md-4">
            <div style="border: 1px solid #E7E7E7;background: #F7F7F7; padding: 15px ">
                <h3>Crea tu cuenta</h3>
                <form>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input ng-model="model.nombre" type="text" class="form-control"  placeholder="nombre" />
                    </div>
                    <div class="form-group">
                        <label>1&ordm; Apellido</label>
                        <input ng-model="model.ape1" type="text" class="form-control"placeholder="1&ordm; apellido" />
                    </div>
                    <div class="form-group">
                        <label>2&ordm; Apellido</label>
                        <input ng-model="model.ape2" type="text" class="form-control" placeholder="2&ordm; apellido" />
                    </div>
                    <div class="form-group">
                        <label for="name">Correo electrónico</label>
                        <input type="text" class="form-control"  placeholder="tu@correoelectronico.es" />
                    </div>
                    <div class="form-group">
                        <label>Contrase&ntilde;a</label>
                        <input type="password" class="form-control"  placeholder="contrase&ntilde;a" />
                    </div>
                    <div class="form-group">
                        <label>Repetir contrase&ntilde;a</label>
                        <input type="password" class="form-control"  placeholder="repetir contrase&ntilde;a" />
                    </div>

                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input ng-model="aceptar" type="checkbox" > Acepto las <a href="#">condiciones del servicio</a> y la <a href="#">politica de privacidad</a> de FPempresa
                            </label>
                        </div>
                    </div>                        

                    <div style="margin-top:20px" class="form-group">
                        <button type="button" class="btn btn-standard" ng-click="next()" >Registrarse</button>
                    </div>


                </form>
            </div>
        </div>

    </div>  

    <div class="row" ng-if="state.step === 2">
        <div class="col-md-3 col-md-offset-2" >
            <br>
            <img ng-src="{{getContextPath()}}/img/registro.png" alt="registro">
        </div>
        <div class="col-md-3" >
            <h3 style="color:#525552">Felicidades</h3>
            <p style="color:#9C9A9C">Ya ha sido creada tu nueva cuenta de FPempresa. Ahora ya puedes pulsar en "Inicia sesi&oacute;n" para comenzar a usar FPempresa</p>
        </div>
        <div class="col-md-4">
            <div style="border: 1px solid #E7E7E7;background: #F7F7F7; padding: 15px ">
                <h3>Tu cuenta de FPempresa ya est&aacute; creada</h3>
                <form>


                    <div style="margin-top:20px" class="form-group">
                        <button type="button" class="btn btn-standard" ng-click="crearCuenta()" >Inicia sesi&oacute;n</button>
                    </div>


                </form>
            </div>
        </div>

    </div>     

    <div class="row">
        <div class="col-sm-12" >
            <ix3-business-messages></ix3-business-messages>
        </div>  
    </div>
</div>

