<div class="container fpempresa-container" style="padding-top:20px;padding-bottom:20px;">

    <div ng-if="state.step === 0">
        <div class="col-md-3 col-md-offset-1" style="text-align:right">
            <br>
            <img ng-src="{{getContextPath()}}/img/titulado-empresa-centro.png" alt="registro">
        </div>
        <div class="col-md-3 ayuda" >
            <h3>Tipo de usuario</h3>
            <p>Debes elegir el tipo de usuario que eres. Segun tu elecci&oacute;n podr&aacute;s acceder a unos servicio u otros de FPempresa</p>
        </div> 
        <div class="col-md-5 soft-formulario">
            <div>
                <h3>&iquest;Quien eres?</h3>
                <div class="radio">
                    <label>
                        <input ng-model="model.tipoUsuario" type="radio" name="opciones"  value="TITULADO">
                        Un <strong>titulado</strong> de formacion profesional que busca empleo
                    </label>
                </div>
                <br>
                <div class="radio">
                    <label>
                        <input ng-model="model.tipoUsuario" type="radio" name="opciones" value="EMPRESA">
                        Una <strong>empresa</strong> que busca profesionales
                    </label>
                </div>
                <br>
                <div class="radio">
                    <label>
                        <input ng-model="model.tipoUsuario" type="radio" name="opciones" value="CENTRO">
                        Un <strong>centro educativo</strong> que quiere tener su bolsa de trabajo
                    </label>
                </div>                       
                <div class="form-group">
                    <br>
                    <button type="button" class="btn btn-standard" ng-click="next()" >Siguiente</button>
                </div>

            </div>
        </div>        
    </div>
    <div class="row" ng-if="state.step === 1">

        <div class="col-md-3 col-md-offset-1" style="text-align:right">
            <br>
            <img ng-src="{{getContextPath()}}/img/titulado.png" alt="registro" ng-if="model.tipoUsuario === 'TITULADO'">
            <img ng-src="{{getContextPath()}}/img/empresa.png" alt="registro" ng-if="model.tipoUsuario === 'EMPRESA'">
            <img ng-src="{{getContextPath()}}/img/centro.png" alt="registro" ng-if="model.tipoUsuario === 'CENTRO'">
        </div>
        <div class="col-md-3 ayuda" >
            <h3 ng-if="model.tipoUsuario === 'TITULADO'">Registro de un Titulado</h3>
            <h3 ng-if="model.tipoUsuario === 'EMPRESA'">Registro de una Empresa</h3>
            <h3 ng-if="model.tipoUsuario === 'CENTRO'">Registro de un Centro</h3>
            <p ng-if="model.tipoUsuario === 'TITULADO'">Ahora necesitamos los datos minimos para crear tu cuenta, mas adelante podrás introducir tu curriculum</p>
            <p ng-if="model.tipoUsuario === 'EMPRESA'">Ahora necesitamos los datos minimos para crear tu cuenta, mas adelante podrás indicar los datos de la empresa</p>
            <p ng-if="model.tipoUsuario === 'CENTRO'">Ahora necesitamos los datos minimos para crear tu cuenta, mas adelante podrás crear tu bolsa de trabajo</p>
        </div>
        <div class="col-md-5 soft-formulario">
            <div>
                <h3 ng-if="model.tipoUsuario === 'TITULADO'">Crea tu cuenta de Titulado</h3>
                <h3 ng-if="model.tipoUsuario === 'EMPRESA'">Crea tu cuenta de Empresa</h3>
                <h3 ng-if="model.tipoUsuario === 'CENTRO'">Crea tu cuenta de Centro</h3>

                <ix3-business-messages></ix3-business-messages>

                <form>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input ng-model="model.nombre" type="text" class="form-control"  placeholder="nombre" />
                    </div>
                    <div class="form-group">
                        <label>1&ordm; Apellido</label>
                        <input ng-model="model.ape1" type="text" class="form-control"placeholder="1&ordm; apellido" />
                    </div>
                    <div class="form-group">
                        <label>2&ordm; Apellido</label>
                        <input ng-model="model.ape2" type="text" class="form-control" placeholder="2&ordm; apellido" />
                    </div>
                    <div class="form-group">
                        <label for="name">Correo electrónico</label>
                        <input ng-model="model.eMail" type="text" class="form-control"  placeholder="tu@correoelectronico.es" />
                    </div>
                    <div class="form-group">
                        <label>Contrase&ntilde;a</label>
                        <input ng-model="model.password" type="password" class="form-control"  placeholder="contrase&ntilde;a" />
                    </div>
                    <div class="form-group">
                        <label>Repetir contrase&ntilde;a</label>
                        <input ng-model="model.repeatPassword" type="password" class="form-control"  placeholder="repetir contrase&ntilde;a" />
                    </div>

                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input ng-model="model.aceptar" type="checkbox" > Acepto las <a href="#">condiciones del servicio</a> y la <a href="#">politica de privacidad</a> de FPempresa
                            </label>
                        </div>
                    </div>                        

                    <div class="form-group">
                        <br>                        
                        <button type="button" class="btn btn-standard" ng-click="next()" >Registrarse</button>
                    </div>


                </form>
            </div>
        </div>

    </div>  

    <div class="row" ng-if="state.step === 2">
        <div class="col-md-3 col-md-offset-1" style="text-align:right">
            <br>
            <img ng-src="{{getContextPath()}}/img/titulado.png" alt="registro" ng-if="model.tipoUsuario === 'TITULADO'">
            <img ng-src="{{getContextPath()}}/img/empresa.png" alt="registro" ng-if="model.tipoUsuario === 'EMPRESA'">
            <img ng-src="{{getContextPath()}}/img/centro.png" alt="registro" ng-if="model.tipoUsuario === 'CENTRO'">
        </div>
        <div class="col-md-3 ayuda" >
            <h3 >Felicidades</h3>
            <p >Ya ha sido creada tu nueva cuenta de FPempresa. Ahora ya puedes pulsar en "Inicia sesi&oacute;n" para acceder a todas las ventajas que ofrece FPempresa</p>
        </div>
        <div class="col-md-5 soft-formulario">
            <div>
                <h3 ng-if="model.tipoUsuario === 'TITULADO'">Tu cuenta de FPempresa como <strong>Titulado</strong> ya est&aacute; creada</h3>
                <h3 ng-if="model.tipoUsuario === 'EMPRESA'">Tu cuenta de FPempresa como <strong>Empresa</strong> ya est&aacute; creada</h3>
                <h3 ng-if="model.tipoUsuario === 'CENTRO'">Tu cuenta de FPempresa como <strong>Centro</strong> ya est&aacute; creada</h3>
                <form>
                    <div class="form-group">
                        <br>                       
                        <button type="button" class="btn btn-standard" ng-click="login()" >Inicia sesi&oacute;n</button>
                    </div>
                </form>
            </div>
        </div>

    </div>     

</div>

