<footer class="c-section c-section--alt-color " ng-controller="FooterController">
    <div class="c-section__content c-section__content--size-alt g--padding-top-10 g--padding-horizontal-0">
        <div class="l-horizontal l-horizontal--space-around g--padding-horizontal-4">

            <ul class="g--margin-right-3">
                <li><a href="https://fpempresa.net/"  target="_blank" class="c-text g--color-default-1" >FPEmpresa</a></li>
                <li><a href="https://fpempresa.net/asociate/"  target="_blank" class="c-text g--color-default-1" >Asóciate</a></li>
                <li><a href="#/docs/faq"  class="c-text g--color-default-1" >Preguntas frecuentes</a></li>
                <li><a href="#/docs/donde"  class="c-text g--color-default-1" >Donde estamos</a></li>
            </ul>
            <ul>
                <li><a href="#/legal/aviso-legal" class="c-text g--color-default-1"  >Aviso Legal</a></li>
                <li><a href="#/legal/politica-privacidad"  class="c-text g--color-default-1" >Política de Privacidad</a></li>
                <li><a href="#/legal/terminos-uso" class="c-text g--color-default-1"  >Terminos de uso</a></li>
                <li><a href="#/legal/cookies"  class="c-text g--color-default-1" >Política de Cookies</a></li>
            </ul>
                  

        </div>
        
        <div class="l-horizontal l-horizontal--space-evenly g--padding-top-7 g--padding-horizontal-4" style="width:100%">

            <div><a href="https://twitter.com/fp_empresa" target="_blank" class="g--color-default-1"><i class="fab fa-twitter-square fa-2x"></i></a></div>
              <div>  <a href="https://www.linkedin.com/company/fpempresa" target="_blank" class="g--color-default-1"><i class="fab fa-linkedin  fa-2x"></i></a></div>
              <div>  <a href="https://www.youtube.com/channel/UCsTaCVxldCjUWHmDUEGpNBA" target="_blank" class="g--color-default-1"><i class="fab fa-youtube-square  fa-2x"></i></a></div>
              <div>  <a href="https://www.facebook.com/asocfpempresa" target="_blank" class="g--color-default-1"><i class="fab fa-facebook-square  fa-2x"></i></a></div>
              <div>  <a href="https://www.instagram.com/fpempresa/" target="_blank" class="g--color-default-1 g--margin-right-auto"><i class="fab fa-instagram-square  fa-2x"></i></a></div>
                  

        </div>        
        
        <p class="c-text g--color-default-1 c-text--center g--padding-top-7 g--padding-bottom-0 g--margin-0">&copy; 2013-<currentdate format="yyyy"></currentdate> Asociaci&oacute;n de Centros de Formacion Profesional</p>
        <p class="c-text g--color-default-1 c-text--center g--padding-0 g--margin-0 ">v@@BUILD-STAMP@@</p>
    </div>
</footer>
