@include class-responsive-variants(g--font-size,$font-size-variants)  using ($value) {
    font-size:$value;
}

@include class-responsive-variants(g--font-family,$font-family-variants)  using ($value) {
    font-family:$value;
}

@include class-responsive-variants(g--font-weight,$font-weight-variants)  using ($value) {
    font-weight:$value;
}

.g--justify {
    text-align: justify;
}