

<header class="intro" style="background: #FFFFFF url(../img/site/intro-bg.jpg) no-repeat scroll center 40px;;background-size: cover ">
    <div class="intro-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-7">
                    <h2 class="brand-heading">empleaFP</h2>
                    <hr>
                    <p class="intro-text">La mayor bolsa de trabajo espec&iacute;fica de la<br>Formaci&oacute;n Profesional</p>
                    <p><button class="btn btn-xl form__button form__button--primary" href=""  ng-click="createAccount()"  >Crear una cuenta</button></p>
                    <a href ng-click="navigateWithScroll('/', 'ofrecemos')" class="btn button-circle">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>


<section id="ofrecemos" class="container-fluid section__container section--background-color-light section__container--padding">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;QUE OFRECEMOS&nbsp;&nbsp;</h3>
            <p class="section__text  section--color-dark ">En empleaFP trabajamos para ofrecer la mejor experiencia para cada usuario.</p>
            <p class="section__text  section--color-dark ">Ya seas titulado, centro educativo o empresa  tendr&aacute;s muchas ventajas con solo crearte una cuenta.</p>                   
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-1 col-xs-12">
            <div class="expose__container">   
                <img src="../img/site/centro.png" alt="centro">
                <h2 style="margin:0px;padding: 0px;color: #005594;font-size: 55px;">{{chartData.numeroCentros[0].valor}}
                    <h4 class="expose__title" style="margin-top: 0px;">Centros Educativos</h4>
                    <hr class="expose__separator">
                    <p class="expose__text">Ahorra tiempo en la gesti&oacute;n de tus titulados gracias al servicio de empleaFP.</p>
                    <p class="expose__text">Agiliza las relaciones entre tus titulados y tus empresas con la bolsa de trabajo de la FP</p>
                    <p class="expose__button"><button class="btn btn-lg btn-centro btn-warning" href=""  ng-click="login()"  >Mi bolsa de trabajo</button></p>
            </div>                    

        </div>                
        <div class="col-md-4 col-xs-12">
            <div class="expose__container">                    
                <img src="../img/site/titulado.png" alt="titulado">
                <h2 style="margin:0px;padding: 0px;color: #005594;font-size: 55px;">{{chartData.numeroTitulados}}
                    <h4 class="expose__title" style="margin-top: 0px;">Titulados</h4>
                    <hr class="expose__separator">
                    <p class="expose__text">Encuentra tu primer empleo con la bolsa de trabajo hecha pensando en ti, el titulado de FP </p>
                    <p class="expose__text">Mejora tu curriculum con datos verificados por el propio centro donde has estudiado</p>
                    <p class="expose__button"><button class="btn btn-lg btn-titulado btn-success" href="" ng-click="login()"  >Mi curriculum</button></p>
            </div>
        </div>			
        <div class="col-md-3 col-xs-12">
            <div class="expose__container">   
                <img src="../img/site/empresa.png" alt="titulado">
                <h2 style="margin:0px;padding: 0px;color: #005594;font-size: 55px;">{{chartData.numeroEmpresas.length}}</h2>
                <h4 class="expose__title" style="margin-top: 0px;">Empresas</h4>
                <hr class="expose__separator">
                <p class="expose__text">Ahorra tiempo con un servicio donde prima la rapidez de todo el proceso de selecci&oacute;n</p>
                <p class="expose__text">Mejora tu selecci&oacute;n de personal , con datos verificados por los propios centros educativos.</p>
                <p class="expose__button"><button class="btn btn-lg btn-empresa btn-primary" href="" ng-click="login()"  >Mis ofertas</button></p>
            </div>
        </div>
    </div>
</section>
<section id="empleo" class="container-fluid section__container  section--background-color-dark section__container--padding" style="background: #f7f9f8">
    <div class="expose__container" style="height: 950px !important;">
        <div class="col-xs-12 row">
            <div class="col-12">
                <h3  class="section__main-title  section--color-dark-high">&nbsp;&nbsp;ESTADÍSTICAS&nbsp;&nbsp;</h3>
                <p style="margin-top: 15px;" class="expose__text">Centros, empresas y alumnos que ya utilizan empleaFP</p>
            </div>
            <br/>
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Centros de EmpleaFP</h3>
                    </div>
                    <div class="panel-body">
                        <div style="height: 300px;position: relative;top:0px;left:0px;" fpe-simple-bar-chart title="" subtitle="" title-y="Nº de Centros" title-x="Numero total de centros en EmpleaFP" serie="chartData.numeroCentros"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;Titulados por familia</h3>
                    </div>
                    <div class="panel-body">
                        <div style="height: 300px;position: relative;top:0px;left:0px;"  fpe-simple-bar-chart title="" subtitle="" title-y="Nº de Titulados" title-x="Familias profesionales" serie="chartData.tituladosPorFamilia"   ></div>
                    </div>
                </div> 
            </div>
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-archive"></i>&nbsp;&nbsp;Empresas en EmpleaFP</h3>
                    </div>
                    <div class="panel-body">
                        <div style="height: 300px;position: relative;top:0px;left:0px;"  fpe-simple-bar-chart title="" subtitle="" title-y="Nº de Candidatos" title-x="Empresas registradas en EmpleaFP" serie="chartData.numeroEmpresas"   ></div>
                    </div>
                </div>  
            </div>
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Ofertas por familia</h3>
                    </div>
                    <div class="panel-body">
                        <div style="height: 300px;position: relative;top:0px;left:0px;" fpe-simple-bar-chart title="" subtitle="" title-y="Nº de Ofertas" title-x="Familias profesionales" serie="chartData.ofertasPorFamilia" ></div>
                    </div>
                </div>  
            </div>
        </div>
    </div>             
</section> 
<section id="empleo" class="container-fluid section__container  section--background-color-dark section__container--padding" style="background: url(../img/site/mapa.jpg) no-repeat top center;">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="section__main-title  section--color-light-high">&nbsp;&nbsp;POR EL EMPLEO&nbsp;&nbsp;</h3>
            <p class="section__text  section--color-light-high ">La formación profesional tiene entre sus objetivos prioritarios la inserción laboral.</p>
            <p class="section__text  section--color-light-high ">Desde empleaFP trabajamos para conseguir unir los mundos de la FP y de la empresa.</p>
        </div>
    </div>            
</section> 
<section id="porque" class="container-fluid section__container  section--background-color-light section__container--padding">
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <br><br>
            <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;&iquest;POR QU&Eacute; EMPLEAFP?&nbsp;&nbsp;</h3>
            <p class="section__text  section--color-dark-high ">empleaFP forma parte de la asociaci&oacute;n de los mayores centros de formaci&oacute;n profesional con el objetivo de mejorar la calidad de la FP.</p>
            <p class="section__text  section--color-dark-high ">Dentro del plan global de calidad se ha creado esta bolsa de trabajo para mejorar el acceso de los titulados de FP al mundo laboral.</p>
        </div>
        <div class="col-xs-12 col-md-5 ">   
            <img src="../img/site/conjunto.png" alt="tablet" width="100%" height="100%" >
        </div>                
    </div>
</section>



