
        <section class="c-section" change-on-scroll >
            <div class="c-section__content  g--padding-top-11  g--padding-horizontal-0" >
                <div class="c-banner" >
                    <div class="c-panel "  style="margin-top:5vh; margin-left:5vw;" data-scroll-class="g--transition-y-plus-20">

                        <div class="c-panel__title">
                            <h1 class="c-title c-title--left c-title--color-alt ">La bolsa de empleo de la Formación Profesional</h1>
                            <div class="c-panel__body">
                                <p class="c-text">Regístrate para encontrar empleo adecuado a tu formación</p>
                            </div>
                            <div class="c-panel__footer">
                                <a  class="c-button  c-button--alt-primary"  ng-click="createAccount()">Registrarse</a>                        
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="c-section" >
            <div class="c-section__content g--padding-top-12 ">
                <div  class="l-horizontal l-horizontal--space-around " >

                    <div class="c-panel">
                        <div class="c-panel__title"><h1 class="c-title c-title--left c-title--color-alt ">Titulado</h1></div>
                        <div class="c-panel__body">
                            <p class="c-text">Encuentra empleos adecuados a tu formación</p>
                            <p class="c-text">Accede a la bolsa de tu centro educativo</p>
                        </div>
                        <div class="c-panel__footer">
                            <a  class="c-button c-button--tertiary"  href="#/info/titulado">Saber mas &raquo;</a> 
                        </div> 
                    </div>
                    <div class="c-panel" >
                        <div class="c-panel__title"><h1 class="c-title c-title--left c-title--color-alt ">Empresa</h1></div>
                        <div class="c-panel__body">
                            <p class="c-text">Encuentra los profesionales con la formación específica que necesitas.</p>
                            <p class="c-text">Simplifica la búsqueda de candidatos con una bolsa sencilla de usar</p>
                        </div>
                        <div class="c-panel__footer">
                            <a  class="c-button c-button--tertiary"  href="#/info/empresa">Saber mas &raquo;</a> 
                        </div> 
                    </div>

                    <div class="c-panel" >
                        <div class="c-panel__title"><h1 class="c-title c-title--left c-title--color-alt ">Centro educativo</h1></div>
                        <div class="c-panel__body">
                            <p class="c-text">Publica ofertas a los titulados de tu centro educativo</p>
                            <p class="c-text">Agiliza la gestión de la bolsa de empleo de tu centro</p>
                        </div> 
                        <div class="c-panel__footer">
                            <a  class="c-button c-button--tertiary"  href="#/info/centro-educativo">Saber mas &raquo;</a> 
                        </div>                        
                    </div>
                </div>
            </div>
        </section>  

        <section class="c-section" change-on-scroll data-scroll-offset="50%" >
            <div class="c-section__content  g--padding-vertical-10  ">
                <div class="c-simple-panel c-simple-panel--inverse  g--center" style="max-width: 525px ;" >
                    <h1 class="c-title c-title--color-alt ">Nuestros números</h1>
                    <div class="l-horizontal l-horizontal--space-around "   >
                        <div class="c-number">
                            <p class=" c-number__value " data-scroll-up-count="true" >{{nuestrosNumeros.numOfertas | number}}</p>
                            <p class="c-number__label ">Ofertas</p>
                        </div>
                        <div class="c-number">
                            <p class=" c-number__value " data-scroll-up-count="true" >{{nuestrosNumeros.numeroTitulosFP | number}}</p>
                            <p class="c-number__label ">Titulados</p>
                        </div> 
                    </div>
                </div> 
            </div>
        </section>


        <section class="c-section " >
            <div class="c-section__content  g--padding-top-6">
                <div class="l-horizontal l-horizontal--space-evenly g--margin-horizontal-6"   >
                    <div class="l-horizontal__item " style="max-width:500px;">
                        <h1 class="c-title   c-title--left">Nuestro proyecto</h1>
                        <p class="c-text c-text--size-alt " >
                            empleaFP es una bolsa de empleo nacida de la colaboración entre los centros de Formación Profesional y las empresas.
                        </p>
                        <br>
                        <p class="c-text  c-text--size-alt ">
                            Bajo el paraguas de la asociación FPEmpresa, es un proyecto sin ánimo de lucro que se centra en potenciar la Formación Profesional en nuestra sociedad. 
                        </p>
                        <br>
                        <a  class="c-button c-button--tertiary"  href="#/info/proyecto">Mas información &raquo;</a>     
                    </div>
                    <div class="l-horizontal__item g--padding-horizontal-4" style="max-width:500px;" >
                        <img  class="c-image"  src="../img/site/proyecto.jpg" alt=""/> 
                    </div>

                </div>
            </div>
        </section> 



        <section class="c-section " id="section-ultimas-ofertas" >
            <div class="c-section__content  g--padding-top-12">
                <h1 class="c-title">Últimas ofertas</h1>
                <div class="l-masonry" id="masonry" >
                    <div class="l-masonry__area" ng-repeat="familiaOfertas in familiasOfertas" ng-cloak ng-init="$last && masonry()">
                        <div class="c-ofertas">
                            <div class="c-ofertas__image" style="background-image: url('../img/familias/{{familiaOfertas.idFamilia}}.jpg');"></div>
                            <div class="c-ofertas__content">
                                <h2 class="c-ofertas__familia">{{familiaOfertas.descripcion}} </h2>
                                <div class="c-ofertas__puesto" ng-repeat="oferta in familiaOfertas.ofertasEstadistica">{{oferta.puesto}} ({{oferta.provincia.descripcion}})</div>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </section>

        <section class="c-section"  >
            <div class="c-section__content  g--padding-vertical-5 " >
                <h1 class="c-title c-title--color-alt" >Regístrate para ver las ofertas</h1>
                <div class="l-horizontal l-horizontal--center "   >
                    <a  class="c-button  c-button--alt-primary c-button--size-alt"   ng-click="createAccount()">Registrarse</a> 
                </div>
            </div>       
        </section>

        <section  class="c-section"  >
            <div class="c-section__content  g--padding-vertical-12 " >
                <iframe class="c-youtube"  src="https://www.youtube-nocookie.com/embed/w-ghOqT9LNk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </section>

        <section class="c-section"   >
            <div class="c-section__content  g--padding-top-12">
                <div class="g--center" style="max-width: 640px;">
                    <img class="c-image"  src="../img/site/privacidad.jpg" alt="" />
                    <div class="c-simple-panel g--center"  style="width: 75%;transform: translateY(-60px)" >
                        <h1 class="c-title c-title--left c-title--size-alt">Tu privacidad, un objetivo para nosotros </h1>
                        <a  class="c-button c-button--tertiary "  href="#/info/privacidad">Mas información &raquo;</a>     
                    </div>                      
                </div>
            </div>
        </section>

        <section class="c-section c-section--dark-color">
            <div class="c-section__content g--padding-vertical-9">

                <div class="l-horizontal l-horizontal--center">
                    <h1 class="c-text">Un proyecto de</h1>
                    <a href="https://fpempresa.net/" ><img  class="c-image"  src="../img/logos/fpempresa.png" alt="fpempresa"/></a>
                </div>

            </div>
        </section>