<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="">

        <title>fpempresa</title>

        <!-- Bootstrap core CSS -->
        <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="lib/flaticon/css/flaticon.css" rel="stylesheet">
        <link href="lib/fontawesome/css/font-awesome.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <link href="css/fpempresa.css" rel="stylesheet">
        <script type="text/javascript" src="lib/jquery/js/jquery.js"></script>
        <script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>

        <script type='text/javascript' src='lib/moment/js/moment-with-langs.js'></script>
        <script type='text/javascript' src='lib/angularjs/js/angular.js'></script>
        <script type='text/javascript' src='lib/angularjs/js/angular-locale_es-es.js'></script>
        <script type='text/javascript' src='lib/angularjs/js/angular-route.js'></script>
        <script type='text/javascript' src='lib/lodash/js/lodash.js'></script>
        <script type='text/javascript' src='lib/restangular/js/restangular.js'></script>  

        <script type='text/javascript' src='index.js'></script>
        <script type="text/javascript" >
            $(function() {
                var jcarousel = $('#main-carousel');
                jcarousel.carousel({
                    interval: 5000
                });
                jcarousel.on('click', function(e) {
                    jcarousel.carousel('pause');
                });
            });
        </script>    
    </head>


    <!-- NAVBAR
    ================================================== -->
    <body ng-controller="IndexController">      
        <div  style="position: fixed;  top: 0px; left: 0px;height:  80px;width: 100%; background-color: #F7F3F7;z-index: 1000;" >
            <div class="container" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="header" >
                            <ul class="" style="float: right;  diplay:block ;padding-top:1.5em;">
                                <a href="javascript:void(0)" class="btn"  ng-click="showLogin()">Iniciar sesi&oacute;n</a>&nbsp;&nbsp;
                                <button class="btn btn-standard" >Crear una cuenta</button>
                            </ul>
                            <img src="img/logo.png" alt="logo"  style="padding-top:1em">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 80px;">
            <div class="col-xs-12">
                <div id="main-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#main-carousel" data-slide-to="1"></li>
                        <li data-target="#main-carousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active"  style="box-sizing: border-box;background-image: url('img/headerImage1.jpg');background-size: cover;background-origin: padding-box;background-attachment: scroll;text-align: center">
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class='jumbotron'>
                                        <h1>Titulado</h1>
                                        <p class="lead" style="white-space:nowrap">La mayor bolsa de trabajo espec&iacute;fica <br>para los titulados de la FP <br>donde encontrar tu primer puesto de trabajo</p>
                                        <p><a class="btn btn-lg btn-titulado" href="#" role="button">Crea una cuenta</a>&nbsp;&nbsp;<a class="btn btn-lg btn-empresa" href="#" role="button">Ver ofertas de trabajo</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="box-sizing: border-box;background-image: url('img/headerImage2.jpg');background-size: cover;background-origin: padding-box;background-attachment: scroll;text-align: center">
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class='jumbotron'>
                                        <h1>Empresa</h1>
                                        <p class="lead">Encuentra los mejores titulados <br>de la formaci&oacute;n profesional espec&iacute;fica y<br>verificados por sus propios centros.</p>
                                        <p><a class="btn btn-lg btn-empresa" href="#" role="button">Crea una cuenta</a>&nbsp;&nbsp;<a class="btn btn-lg btn-titulado" href="#" role="button">Busca candidatos</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="box-sizing: border-box;background-image: url('img/headerImage3.jpg');background-size: cover;background-origin: padding-box;background-attachment: scroll;text-align: center">
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class='jumbotron'>
                                        <h1>Centro de FP</h1>
                                        <p class="lead">La bolsa de trabajo privada para <br>tu centro, donde poder gestionar<br>tus titulados y tus ofertas de trabajo.</p>
                                        <p><a class="btn btn-lg btn-centro" href="#" role="button">Crea una cuenta</a>&nbsp;&nbsp;<a class="btn btn-lg btn-titulado" href="#" role="button">Ver tus titulados</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#main-carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#main-carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>                


            </div>
        </div>

        <div class="row marketing" style="background-color:#F7F7F7 " >
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <i class="flaticon-school14 fa-6x" ></i> 
                        <h2>Titulados</h2>
                        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                        <p><a class="btn btn-lg btn-titulado" href="#" >Mi curriculum</a></p>
                    </div>
                    <div class="col-md-4">
                        <i class="flaticon-business9 fa-6x" ></i> 
                        <h2>Empresas</h2>
                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                        <p><a class="btn btn-lg btn-empresa" href="#" >Mis ofertas</a></p>
                    </div>
                    <div class="col-md-4">
                        <i class="flaticon-teacher fa-6x" ></i> 
                        <h2>Centros</h2>
                        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <p><a class="btn btn-lg btn-centro" href="#" >Mi bolsa de trabajo</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row marketing" style="background-color:#63799C;color: #FFFFFF ">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h1>&iquest;Por que FPempresa?</h1>
                        <p style="font-size: 1.5em;">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                    </div>
                    <div class="col-md-4">
                        <br>
                        <img src="img/tablet.png" alt="tablet" >
                    </div>
                </div>
            </div>
        </div>

        <div class="row marketing" style="background-color:#EFEFEF " >
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h3>Nosotros</h3>
                        <p><a href="#">FAQ</a></p>
                        <p><a href="#">Contacto</a></p>
                        <p><a href="#">Asociaci&oacute;n</a></p>
                    </div>
                    <div class="col-md-3">
                        <h3>Legal</h3>
                        <p><a href="#">Privacidad</a></p>
                        <p><a href="#">Terminos</a></p>
                        <p><a href="#">Cookies</a></p>
                    </div>
                    <div class="col-md-3">
                        <h3>Siguenos</h3>
                        <p><a href="#">Facebook</a></p>
                        <p><a href="#">Twitter</a></p>
                        <p><a href="#">Google+</a></p>
                    </div>
                    <div class="col-md-3">
                        <h3>Direcci&oacute;n</h3>
                        <address>
                            <strong>CIPFP Mislata</strong><br>
                            C/Dolores Ibarruri, 32<br>
                            CP 46920 MISLATA (Valencia)<br>
                            <abbr title="Telefono">Tel:</abbr>96 120 59 25
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="text-align: left">
                        &COPY; 2013  Asociaci&oacute;n FPempresa.
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        Dise&ntilde;o y desarrollo por :<a href="https://github.com/logongas/fpempresa_client">Lorenzo Gonz&aacute;lez<i class="flaticon-github fa-2x" style=" vertical-align: middle;" ></i></a>
                    </div>                    
                </div>
            </div>
        </div>       

        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Identificarse</h4>
                    </div>
                    <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Usuario:</label>
                            <div class="controls">
                                <input type="text" id="inputLogin" ng-model="login.email" autofocus="autofocus" >
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPassword">Contrase&ntilde;a:</label>
                            <div class="controls">
                                <input type="password" id="inputPassword"  ng-model="login.password" >
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="login" ng-click="buttonLogin()" >Entrar</button>
                        <button class="btn" type="button" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>        


    </body>
</html>
